[2019-08-15 04:12] curious-bryan opened #1 "README documentation suggestion - Username should be in domain\username"
@mikaelene sweet adapter!  Thank you for this contribution!

When I first tried to connect with `dbt debug`, I could not connect until I my username was in the `domain\username` format.  At first, I was expecting `username` or `username@domain.com` format.  I didn't think to use `domain\username` format until reading some documentation on `pymssql` ([link](http://www.pymssql.org/en/stable/pymssql_

[2019-08-15 04:29] curious-bryan opened #2 "Model files throw 20018 errors"
### Summary

- Trying to recreate jaffle_shop tutorial for dbt at https://github.com/fishtown-analytics/jaffle_shop
- Ran into `20018` database errors after calling `dbt run`
- See environment details below

### What happened:

- Loaded CSVs as flat files directly to DB via SQL Server Management Studio
- Ran `dbt run` <- ERRORs thrown for 3 models in `jaffle_shop` `model` directory.  See errors be

[2019-08-15 05:11] curious-bryan opened #3 "dbt-test-integration fails for `dbt seed` feature"
FWIW, I saw that the dbt-integration-test is passing on 2 of 3 features.  See output below.  Here are the highlights:

- 2 features passed, 1 failed, 0 skipped -> Run `dbt seed` successfully
- 12 scenarios passed, 1 failed, 0 skipped -> Make sure rows are added to on_run_hook table
- 145 steps passed, 1 failed, 2 skipped, 0 undefined

### dbt-integration-test output
[code]

### Environment Details

[2019-08-16 04:29] mikaelene commented on #1
Hi!

I have only implemented and tested the SQL user approach for connecting to sql server. Like user:sa pass:password. There you don’t need domain.

Are you connecting with domainuser. Like AD user? In that case, maybe I should add Intergrated security mode?

I’ll have a look! 😀

[2019-08-16 04:36] mikaelene commented on #3
Hi, there is a 0.1.4 version of the adapter that passes all tests. Try that one and open a new issue if the problem persists

[2019-08-16 04:36] mikaelene commented on #3
Hi, there is a 0.1.4 version of the adapter that passes all tests. Try that one and open a new issue if the problem persists

[2019-08-16 04:36] #3 closed

[2019-08-16 04:38] mikaelene commented on #2
Hi,

This doesn’t looks good. I’ll try to recreate.

What schema are you loading them to?

[2019-08-16 06:43] mikaelene commented on #2
Hi again,

I looked into this now and the jaffle_shop project uses a lot of SQL that is not supported by SQL server i.e.:

- left join customer_orders using (customer_id)
- group by 1

That's why it doesn't work. If you rewrite the models to SQL that sqlserver supports it works.

[2019-08-16 06:43] #2 closed

[2019-08-16 06:56] mikaelene commented on #1
Updated readme

[2019-08-16 06:56] #1 closed

[2019-08-16 13:48] curious-bryan commented on #1
@mikaelene, yep.  I connected with domainuser from AD.  I tried SA, but no dice.  I might have mistyped something though.

[2019-08-16 13:51] curious-bryan commented on #2
🤦‍♂ Sorry.  I should have checked that.  I apologize for the false alarm.

[2019-08-16 14:11] curious-bryan commented on #2
@mikaelene, FWIW, I added a suggestion to `jaffle_shop` git repo to consider adding a note to their README about checking the SQL in models, especially if using a community-contributed adapter:

https://github.com/fishtown-analytics/jaffle_shop/issues/19#issue-481626816

[2019-08-16 14:56] curious-bryan commented on #3
Tests passed with flying colors! ✈🌈😍🙌  Thank you, @mikaelene!

[code]

[2019-08-27 01:16] tomdavidson opened #4 "DB-Lib error message 20002"
Hello and thank you for this contrib.

My `dbt debug` fails on the connection test:

[code]

dbt-sqlserver          0.1.4.1
dbt                         0.14.0
pymssql                  2.1.4 | 2.13
python                    3.6.8 | 2.7.15

The database is an Azure SQL DB. I have the correct firewall settings all the way around and can connect to the db with the Azure query editor.

[2019-08-27 15:11] mikaelene commented on #4
Hey! The adapter should work with azure sql dB but I haven’t tried really. I am thinking about switching to pyodbc as people apparently prefer that. Maybe that will solve the problem. As a first step you can try http://pymssql.org/en/stable/azure.html

[2019-08-28 05:25] davehowell opened #5 "error installing with pip"
I tried to run `pip install dbt-sqlserver` and it errored. Looks like you've vendored the pymssql lib in there and it has a dependency on Cython?

I'm trying this on a Mac

[code]

[2019-09-06 06:47] mikaelene opened #6 "Refactor the create table as macros"
The macro for creating a table for a model ([sqlserver__create_table_as](https://github.com/mikaelene/dbt-sqlserver/blob/9db85291aad9e80a441e5d453269eafe9a9b2889/dbt/include/sqlserver/macros/adapters.sql#L72)) is quite complicated and in case of error leaves unfinished models in the database. The next run might get an error in case the temp-view already exists etc.

The macro should be splitt up i

[2019-10-28 20:24] dubravcik commented on #6
Hi, @mikaelene , let's blame SQL Server for such bad syntax to create table as select :-/ Anyway, I prepared a function to alter the original SQL script and insert the "INTO" statement. It works for all my sql scripts but further testing will be needed. What it does is to find the correct FROM statement (one when parentheses counter is equal zero).

Could you help - where can I insert the code to

[2019-11-07 21:10] mikaelene commented on #6
Thanks @dubravcik !

I actually don't know where to put this. Jinja is a language of its own and i don't think you can put Python in to it. Maybe the guys at Fishtown analytics knows how to utilise it.

[2019-11-08 09:38] dubravcik commented on #6
I found it out .. it has to be adapter method.. but I am unable to push to this repo. So I am adding it here:

impl.py
[code]
adapters.sql
[code]

[2019-11-12 01:02] mcnnowak opened #7 "Add support for 'dbt docs generate' by implementing get_catalog"
Currently dbt documentation and the built-in documentation site don't work with dbt-sqlserver,

[code]

[2019-11-12 01:03] #7 closed

[2019-11-12 01:03] mcnnowak commented on #7
Sorry, I opened this on the wrong project.

[2019-11-18 09:46] mikaelene commented on #6
Great work! Can you create a branch and sublit a pull request? I also wonders what will happen if a column is named i.e. FROM_DATE. Will the macro work that out?

[2019-12-09 19:44] mikaelene commented on #5
Hi @davehowell . Sorry for the really late replay. This somehow missed me completely.

The more resent version uses pyodbc instead of pymsql. Have you tried 0.14.1?

Otherwise `pip install Cython ` should solve your problem

[2019-12-09 19:44] #4 closed

[2019-12-11 09:31] davehowell commented on #5
Thanks I did install cython, I just thought perhaps the setup.py might need to include that but now you’re on pyodbc no need. I’m not currently working with mssql but thanks for sharing this with the community!

[2019-12-11 09:31] #5 closed

[2019-12-31 10:32] KimchaC opened #9 "Azure connection error on macOS using FreeTDS (port issue)"
I was having connection problems to Azure.

Using the ODBC driver I was getting this error:
[code]

Then I tried using FreeTDS, but was getting this error:
[code]

I finally narrowed down the problem to the fact that the port is not specified in the connection string.

After making these changes I was able to connect:
[code]

[2019-12-31 10:34] KimchaC commented on #4
I think this issue may be related to this:
https://github.com/mikaelene/dbt-sqlserver/issues/9

[2020-01-01 07:57] KimchaC opened #10 "Make dbt_utils and surrogate_key() work"
After installing the adapter most of the dbt_utils functions didn't work. I falsely assumed that it's because this adapter didn't implement all the required functionality, but after reading [this dbt issue](https://github.com/fishtown-analytics/dbt/issues/1457) I understood it's not related to this adapter at all.

While the dbt team works on a solution for this I wanted to document my workaround

[2020-01-02 07:34] mikaelene commented on #9
Thanks!

I'll add that asap :-)

[2020-01-02 07:39] mikaelene commented on #10
Hi,

I've noticed this to. I have another project that implements most of the dbt-utils macros: [dbt-utils-sqlserver](https://github.com/mikaelene/dbt-utils-sqlserver). But it was quite a fast hack and can probably be implemented much better.

Your workaround seems good!

[2020-01-02 07:39] #10 closed

[2020-01-02 08:03] KimchaC commented on #10
Ah that’s even better! Thanks for all the effort.

Perhaps you can add it to the readme so that other users can find it easier.

[2020-01-07 20:51] dougscc opened #11 "Incorrect syntax near the keyword 'if'"
installed version: 0.15.0

I am having a bit of trouble running the test `sql` script created by `dbt init`, which is `select 1 as id`.

### profiles.yml
[code]

### error
[code]

I'm assuming the answer is to be found in one of the macros, but I'm not smart enough to trace it back.

[2020-01-07 21:28] dougscc commented on #11
Looks like I was attempting to run this on an old version of sql server, so the error is probably related to that. My fault.

[2020-01-07 21:28] #11 closed

[2020-01-13 11:13] mikaelene commented on #9
Fixed in branch master, commit 1cf0f061e06f1f17ba22b46c26675ff32dcd00b8 . Thanks for reporting!

[2020-01-13 11:13] #9 closed

[2020-01-13 12:35] mikaelene opened #12 "docs doesn't work on 0.15"
There has been changes in dbt 0.15 that makes dbt docs generate to fail.

[2020-01-13 12:38] mikaelene commented on #12
Fixed in 1e744beb8afc39782fcd35729dc7c1ac8b60f9bb

[2020-01-13 12:38] #12 closed

[2020-01-16 08:29] alangsbo opened #13 "Feature request: Add post-loading sql hooks for creating indexes on tables"

[2020-01-20 13:07] dubravcik commented on #6
You hit it, it wouldn't work, event comments containg "from" will break it. So this implementation is not good and it requires regular SQL parser to work properly.

[2020-01-27 15:48] mikaelene commented on #6
Closed with https://github.com/mikaelene/dbt-sqlserver/commit/7ba26bf70c3c201d9aa1f0567aa3592893be0678

[2020-01-27 15:48] #6 closed

[2020-01-29 10:00] mikaelene commented on #13
Hi Anders,

This is fixed in dbt-sqlserver 0.15.1. See readme for how to implement

[2020-02-04 19:24] #13 closed

[2020-04-29 09:04] dubravcik opened #16 "dbt version 0.16 issue"
Hi, I upgraded dbt from 0.15.2 to 0.16.1 and dbt-sqlserver stopped working and I am confused by the error. I haven't found any duplicates in schema_test.sql

[code]

thanks

[2020-04-30 07:32] pgodwin opened #17 "dbt source snapshot-freshness UTC ?"
Not entirely sure if this is a dbt issue or dbt-sqlserver.

When using the 'freshness' support in dbt and calling `dbt source snapshot-freshness`, it seems to comparing to local time rather than UTC time.

Any ideas? Or is this performed internally in dbt?

[2020-05-10 05:41] mikaelene commented on #16
Hi! This adapter doesn’t support Dbt 0.16.x. Install dbt 0.15.x to solve this. I have tried to upgrade but changes in dbt internal makes it impossible to make tests work. One way is to release an adapter without support for tests. This will be fixed in 0.17 of dbt so I think I will pass on 0.16 for the adapter.

[2020-05-10 05:43] mikaelene commented on #17
I am almost sure this is handled in dbt core. Closing but feel free to open if I am wrong.

[2020-05-10 05:43] #17 closed

[2020-05-10 05:46] mikaelene commented on #16
I have submitted a fix for this in dbt core but I think it will land in 0.17.   https://github.com/fishtown-analytics/dbt/pull/2414 . Closing this. Hopefully all will be good in 0.17

[2020-05-10 05:46] #16 closed

[2020-05-20 07:30] swanderz opened #18 "dbt found two macros with the name "test_unique" in the namespace "dbt"."
80% chance I'm missing something obvious here... I _think_ it has to do w/ my conda env
 here goes anyway.

used `pip` to install dbt-sqlserver. `dbt debug` checks out no problem. However, I'm encountering the below issue with `dbt run`.
[code]

here's the full stacktrace from the logs...
[code]

[2020-05-20 07:42] swanderz commented on #18
ok. i'm slow, but now I've seen #16 and now I'm caught up.

[2020-05-20 07:42] #18 closed

[2020-05-20 21:46] drewbanin opened #19 "Interpolate values in log lines"
I'm seeing some issues where the logs in `logs/dbt.log` are missing some crucial information that would help with debugging.

Check out this example:
https://github.com/mikaelene/dbt-sqlserver/blob/fb228938805289b1ba84bf21534730d3e8d5a63c/dbt/adapters/sqlserver/connections.py#L144-L146

I think this code should instead read:
[code]

Changing the `%s` fields to `{}` will get the logger to correctly

[2020-05-20 22:57] joncooper opened #20 "DROP TABLE IF EXISTS syntax only works on SQL Server >2016"
The syntax `DROP TABLE IF EXISTS ...` works only on SQL Server >2016

https://github.com/mikaelene/dbt-sqlserver/blob/fb228938805289b1ba84bf21534730d3e8d5a63c/dbt/include/sqlserver/macros/adapters.sql#L44

Thus dbt-sqlserver will currently fail on previous versions (mine is 2012) with something like:

[code]

I'm happy to submit a PR, but is there an overall test suite that I can run somehow to ve

[2020-05-20 23:10] joncooper commented on #19
Hm, Python's `logging` package using its own flavor of interpolation that is different than previous `%` style or `f-strings` is confusing!

https://stackoverflow.com/questions/34619790/pylint-message-logging-format-interpolation

[2020-05-21 06:06] mikaelene commented on #19
Thanks! Pull request would be most welcome :-)

[2020-05-21 06:09] mikaelene commented on #20
Hi! There are a test-repo. Not sure how up to date it is https://github.com/fishtown-analytics/dbt-integration-tests/ . You are most welcome to submit a PR. I know there might be more stuff that does not work in earlier versions of sql server. I think some of them are solved in the other adapter. Dbt-mssql

[2020-05-21 06:12] mikaelene commented on #20
One way to test if you don’t want to use the full integration test is to create a project with all kind of materialzations and run the dbt commands. Seeds, run, test etc. Not the most elegant solution but better then nothing

[2020-05-23 18:01] KimchaC opened #21 "Define as_columnstore=false from dbt_project.yml"
Hi,

I am trying to define the config option `as_columnstore` from `dbt_project.yml`:
[code]

The `materialized` config works, but `as_columnstore` seems to be ignored.

Am I doing something wrong or is this currently unsupported?

Thanks, Kim

[2020-05-24 06:58] mikaelene commented on #21
I am not sure if it is supported in dbt_project.yml? Does it work for you in a model file?

[2020-05-25 00:17] puruzio opened #22 "dbt.log not showing the sql code being executed"
I'm not sure if there is a way to configure dbt or dbt-sqlserver to show the sql code being executed in the log.

Otherwise, it will be really nice if there is a way to see it for debugging and better understanding of what's happening under the hood.

For instance, one of my incrementally materialized models has `unique_key='...'` option turned on. Being able to see the exact delete and insert sta

[2020-05-26 19:20] swanderz opened #23 "how to debug adapter macros?"
full disclosure: total newb post

I'm trying to adapt your adapter to `azure-synapse`, I'm getting (and expecting errors), but I'm unsure how to isolate which macros I need to tweak. For me this is where I attach a debugger and step through the process, but I'm definitely missing some skills and context.

Originally, I was getting an error related to `sp_rename` which makes sense as the sproc isn'

[2020-05-26 19:52] mikaelene commented on #23
Hi,

The run-log is located in the logs-directory of you project.

There used to be better logging of the actual sql executed. it disappeared in dbt 0.15. I think issue #19 can solve this. Try that in your adapter.

I don't know how synapse work, but for ordinary sqlserver you can start a trace viewer and see what SQL is actually sent to the database.

Most macros for creating tables etc are in ad

[2020-05-26 19:52] #23 closed

[2020-05-26 19:53] mikaelene commented on #22
I think this is a cause of issue #19 . Feel free to reopen if it's not fixed after that issue is solved.

[2020-05-26 19:53] #22 closed

[2020-05-26 19:54] swanderz commented on #23
thanks @mikaelene -- I appreciate the tips about the trace viewer. I already posted this in the slack sqlserver channel.
https://getdbt.slack.com/archives/CMRMDDQ9W/p1590254737036300

[2020-05-27 22:59] joncooper commented on #23
I ended up finding the location where pip installs the adapter and hacking the source to dump SQL to the logs.

[2020-05-28 00:42] swanderz commented on #23
@joncooper awesome thanks for the shove. that was a very simple tweak that helped for sure.

[2020-05-28 01:12] swanderz opened #24 "refactor seed jinja to avoid table value constructor"
plugging away on the `azure-synapse` fork. So far its been just a matter of replacing unsupported functions. Why they're now unsupported... who knows!?!

Anyway, turns out this classic SQL Server idiom is no longer supported.
[code]
[this SO post](https://stackoverflow.com/questions/50530621/insert-values-statement-can-contain-only-constant-literal-values-or-variable-ref), gives me the workaround

[2020-05-28 16:41] swanderz commented on #24
got a [good shove](https://getdbt.slack.com/archives/C50NEBJGG/p1590681112194200?thread_ts=1590680136.194000&cid=C50NEBJGG) from jack.beck in the dbt slack. I'll reach out again if I can't get it figured it out.

[2020-05-28 16:41] #24 closed

[2020-05-28 17:47] swanderz commented on #20
@joncooper neither does it work for Synapse... here was my general workaround
[code]

[2020-05-30 13:06] infused-kim opened #25 "Check if index exists before attempting to create it"
Currently if you use `create_nonclustered_index()` on an incremental table, the refresh fails, because the index already exists.

I understand the current pattern is to use a pre-hook with `drop_all_indexes_on_table()`, but that leads to all indexes having to be re-built on every refresh and that the indexes can't be used for the refresh merge.

Is there anything that prevents us from checking if

[2020-06-03 13:22] wongio opened #26 "dbt data tests error with 'with' clause usage"
-- assert count of rows

with cte as (
    select count(distinct([category])) as cnt
    from table
)
select cnt
from cte
where cnt <> 2

  ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'with'. (156) (SQLExecDirectW); [42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'with'. If this statement

[2020-06-03 18:03] mikaelene commented on #20
You are all welcome to submit a pull request. Support for Synapse would be great 😀

[2020-06-04 00:00] wongio commented on #26
using dbt 0.15.2

If I don't have a with clause it works fine.

[2020-06-12 07:44] #19 closed

[2020-06-12 08:23] mikaelene opened #30 "Seeds doen't work for 0.17"

[2020-06-15 05:58] #30 closed

[2020-06-29 17:24] alittlesliceoftom opened #31 "Incompatible with dbt>0.15, should update setup.py"
Reference [issue ](https://github.com/fishtown-analytics/dbt/issues/2423) describes incorrect duplicate macros when using dbt>0.15 with dbt-sqlserver=0.15.

" One helpful change might be for the maintainer of dbt-sqlserver to change their requirements for the package from >=0.15.0 to something like >=0.15.0, <0.16."

[2020-06-30 01:58] swanderz commented on #24
here's what I ended up getting to work. I'm not in love with the forced spaces, though! I'm sure there's a neater way to get things to run...

[code]

[2020-06-30 02:00] swanderz commented on #31
@alittlesliceoftom agreed. Can you make the PR? I'm happy to if you can't.

[2020-06-30 04:36] alittlesliceoftom commented on #31
Can do

On Tue, 30 Jun 2020, 03:00 Anders, <notifications@github.com> wrote:

[2020-06-30 06:22] mikaelene commented on #31
This is a great feature. I’ll approve any PR on this

[2020-07-01 06:04] camfrout commented on #26
I have the same error on my side, using dbt 0.15.2 as well.
WITH works fine in models but not in data tests

[2020-07-01 06:41] camfrout commented on #26
I updated the `connections.py` file as per [this commit](https://github.com/mikaelene/dbt-sqlserver/commit/1444a17f7c9f422a75f6981231e3a5ab7e990e4b) and it is showing me the query that is failing.

The problem seems to be that dbt uses a different function to run data tests ([here](https://github.com/fishtown-analytics/dbt/blob/e30db9816e6a33a9dadca1a09d527cfc31269dd5/core/dbt/node_runners.py#L567

[2020-07-02 15:37] yp-s19tech commented on #26
Also experiencing the same issue

[2020-07-02 16:10] mikaelene commented on #26
Hi all, this is a known limitation for me. I also don’t know how important it is to fix? Can you use a sub query instead?

There are some issues with the sql server dialect that makes it hard to create this adapter. The most annoying is that you can’t use ‘create table as’. Like in all other dbs. Right now there is an issue in dbt core to make it possible to implement tests at all in versions grea

[2020-07-02 18:31] yp-s19tech commented on #26
@mikaelene I managed to work around the issue by using a subquery, at the cost of readability:

`select my_subquery.COL_A, my_subquery.a_counts from
    (select COL_A, count(*) as a_counts from
    {{ ref('FIRST_TBL') }}
    group by COL_A
    ) as my_subquery
WHERE my_subquery.a_counts = 0`

[2020-07-03 06:33] #31 closed

[2020-07-20 06:04] camfrout opened #37 "Schema tests raise SQL error when columns contain space"
Hi,

Schema tests on columns that contain spaces are currently raising a SQL error. This is due to the macro generating the following SQL code
[code]

I tried to change the column name in `schema.yml` to put it in the format `"'My Column Name'"`, but while the schema test now works, the documentation shows 2 different entries for my column, one with `My Column Name` and one with `'My Column Name'`

[2020-07-21 15:47] mikaelene commented on #37
Hi! That sounds ok. I know there is a setting somewhere around quoting policies. I don’t know if that would be picked up by the adapter, but maybe worth a try?

[2020-07-21 19:22] swanderz commented on #37
Isn't this a good scenario for using `adapter.quote()`? I'm out of my depth here, but it looks like it isn't a macro, but an attribute of the adapter class?

I see a few example where `adapter.quote()` is used in this adapter. Perhaps the solution is to more widely adopt using this approach? Assuming we can properly set the quoting...

[2020-07-22 06:48] camfrout commented on #37
The `adapter.quote()` approach works fine and is using `"` quotations in my case.

If we want to follow the approach taken in [this dbt issue](https://github.com/fishtown-analytics/dbt/pull/925) we can actually replace `kwargs.get('column_name', kwargs.get('arg'))` by `adapter.quote_as_configured(kwargs.get('column_name', kwargs.get('arg')),'identifier')` and we will then be following the quoting

[2020-07-27 04:47] camfrout commented on #37
This might actually just be slightly more complex.
The problem with the approaches above is that it breaks the ability to use SQL expressions in the schema tests.

For example, my test on `CONCAT(col1,col2)` that needs to be unique in my model is not working anymore if I add quotes around `kwargs.get('column_name', kwargs.get('arg'))`. The macro compiles as `select
        "CONCAT(col1,col2)" as v

[2020-07-28 18:12] kofoide opened #40 "Snapshot Second Run Problem"
I am having a problem with running a snapshot after the initial snapshot table is created (running dbt snapshot for the second time)

I am pretty new to dbt, so I could have some sort of configuration problem too, but I am able to materialize other objects.

I have SQL Server profile trace running to capture the activity and it seems that it is creating a temp table, then it drops the temp table,

[2020-07-29 06:24] mikaelene commented on #40
There is a limitation in dbt-sqlserver that the table/query you are basing the snapshot on can’t have any constraints. Such as columns with not null setttings etc. That is usually the case for failing second run.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-07-29 15:34] kofoide commented on #40
I am very new to submitting pull request changes to someone else's repo, but I am going to give it a try. I believe I found the source of this issue and was able to fix it. This brought me to another issue that I was able to fix as well. I hope I am doing this the right way.

[2020-07-29 15:34] #40 closed

[2020-07-30 08:52] vensyd opened #42 "dbt version 0.17.2 - dbt found two macros with the name "test_unique" in the namespace "dbt""
Getting below issue:

[code]
**Version check:**

[code]
Was working with 0.15.2 after --upgrade dbt getting this issue.

[2020-07-30 19:24] swanderz commented on #42
known issue check out. #16. we're waiting for `0.18.0` to be released

[2020-07-30 19:29] mikaelene commented on #42
Yes as @swanderz says, 0.16 and higher are not supported.

[2020-07-30 19:29] #42 closed

[2020-08-27 19:07] swanderz opened #45 "Bring in AAD auth from dbt-synapse?"
@josephcdonaldson mentioned they'd like AAD auth available as part of `dbt-sqlserver`. Perhaps I open a PR to try and merge our `connections.py`?

[2020-08-27 19:12] mikaelene commented on #45
That would be great as long as the other auths work. Merge it in 0.18 if you find that it works. I’ll try to release it when dbt 0.18 is out.

[2020-08-27 19:38] swanderz commented on #37
@camfrout you want to try the #46 out and see if it fixes the quoting issue you're having?

[2020-08-29 00:53] camfrout commented on #37
I just tried to use the `quote` column property along with #46 and the tests work fine, even with columns with spaces. So I will close this one and there is no need to update `schema_tests.sql`.

[2020-08-29 00:53] #37 closed

[2020-08-31 15:37] swanderz commented on #45
We just realized we're missing one key AAD auth method, service principal. We'll aim to have a PR in by the end of the week with the 3 supported AAD methods plus service principal by the end of the week.

[2020-09-03 16:58] swanderz opened #47 "V0.18.0 -- dbt_macro__sqlserver__get_catalog' takes not more than 1 argument(s)"
Running `dbt_docs_generate` gives the following non-breaking error message. The generated `catalog.json`still is able to be served and _looks_ okay.

[code]

All the other `get_catalog()` for core adapters have the following function signature. Changing `sqlserver`'s resolved the error message, but:
1. `sqlserver__get_catalog()` doen't use any arguments anyway (should it, @mikaelene?), and
2.  I'm

[2020-09-03 17:21] swanderz commented on #47
resolved by #48

[2020-09-03 17:21] #47 closed

[2020-09-10 19:32] alangsbo opened #50 "Add support for sql server named instance"
If sql server host name contains a backslash - pointing at a named instance connection to server fails

This is because if a named instance is specified, the port number must be omitted.

This can be fixed by replacing row 90 in connections.py with this code:

[code]

Maybe there is a more elegant way to do it, but the above works for me :)

[2020-09-10 19:39] mikaelene commented on #50
Thanks for the example! Have you tested this for a non-instance of SQL Server so the original functionality still works? Mind submitting a pull request?

[2020-09-10 19:46] alangsbo commented on #50
Good suggestion, I have tested a default instance also.

I´ll submit a pull req

[2020-09-11 07:27] mikaelene commented on #50
Solved by #51

[2020-09-11 07:27] #50 closed

[2020-09-18 18:07] jtcohen6 opened #54 "New adapter testing framework"
Hey Mikael! Nice work on the quick v0.18.0 turnaround :)

We've released a new testing framework, `pytest-dbt-adapter`:
* https://github.com/fishtown-analytics/dbt-adapter-tests
* https://pypi.org/project/pytest-dbt-adapter/

The [dbt-integration-tests](https://github.com/fishtown-analytics/dbt-integration-tests) framework was a neat experiment with [`behave`](https://behave.readthedocs.io/en/late

[2020-09-29 07:31] mikaelene commented on #54
@swanderz I am trying this out. All tests are failing :-). Did you manage to get this working? Or is all tests failing because of sql not supported by SQL Server?

[2020-09-29 14:33] mikaelene commented on #54
@jtcohen6

The last output from running tests is below. It looks like dbt run as it should but the tests failed. Any idea of why?

2020-09-29 14:24:53.392476 (Thread-1): Opening a new connection, currently in state closed
2020-09-29 14:24:53.392549 (Thread-1): Using connection string: DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost,1433;Database=dbt_test;UID=SA;PWD=***
2020-09-29 14:24:53.

[2020-09-29 15:32] jtcohen6 commented on #54
@mikaelene I wonder if you ran into the same issue as @swanderz did initially ([Slack thread](https://getdbt.slack.com/archives/C50NEBJGG/p1600965180000600)). As the last step of each test, dbt will try to drop the scratch schema it created. I understand that SQLServer will return an error on `drop schema` if the schema has objects in it, and that T-SQL does not support `drop schema cascade`.

I b

[2020-09-29 18:24] swanderz commented on #54
the plan tomorrow for @NandanHegde15 was to take what we we did for https://github.com/swanderz/dbt-synapse/pull/16 and bring as much as needed into `dbt-sqlserver` to get it passing all tests. Perhaps we can collaborate.

[2020-11-04 12:29] mikaelene commented on #45
This is solved by PR #53 and #55

[2020-11-04 12:29] #45 closed

[2020-11-04 12:30] mikaelene commented on #20
This is solved by PR #57

[2020-11-04 12:30] #20 closed

[2020-11-11 00:09] swanderz opened #172 "custom data tests with CTEs fail"
## background
Per @alittlesliceoftom's [Slack thread](https://getdbt.slack.com/archives/C2JRRQDTL/p1604575110440800).
## Steps to reproduce:
1. write a data test that uses CTE clause,
2. dbt wraps the data test's query into another CTE.
3. Synapse returns an error because it does not allow for nested CTEs.

## Example

### `tests/example.sql`
[code]
### `target/compiled/ava_its_data/tests/example.

[2020-11-14 02:25] codeforkjeff commented on #50
For anyone trying to connect to a default instance: a trailing backslash seems to work. This target defined in `~/.dbt/profiles.yml` works for me:

[code]

Note that a string like ` localhost\MSSQLSERVER` (which is supposedly the name of the default instance) did NOT work for me. I'm running SQL Server 2016.

[2020-11-14 23:20] CMRobbie opened #59 "Overriding the database in the dbt_project file does not work"
When I override the database to something different than the database configured in the profile, the CLI says it's going to built into the override database, but it's executed on the profile database.

Example profiles.xml:
[code]

example dbt_project.yml:
[code]
When ran, the CLI says "created view model ProductsModels.ProductsModels.Metrics..." but in reality it's created in Test.ProductsModels.

[2020-11-16 17:11] swanderz commented on #59
interesting. i'm going to poke around with this and see what I can find out.

[2020-11-19 13:35] CMRobbie commented on #59
Great! Thanks @swanderz. Is there any extra information I can provide to help you?

[2020-11-19 17:34] swanderz commented on #59
Can call `dbt run --model Metrics` then go into `logs/dbt.log` and share the SQL queries relevant the the Metrics view creation?

My thinking is that it has to do with this https://github.com/fishtown-analytics/dbt/issues/1695, specifically the [`generate_database_name()` macro](https://github.com/fishtown-analytics/dbt/blob/c19125bb028c36414aa5532888c8d7f1cf87cff3/core/dbt/include/global_project/

[2020-11-19 19:05] CMRobbie commented on #59
It's omitting the database name in the query. And when connecting, it uses the incorrect one (from profile instead of project). The SQL Query that loads the data:
`   drop table if exists ProductsModels.ProductsModels_Metrics__dbt_tmp

   EXEC('create view ProductsModels.ProductsModels_Metrics__dbt_tmp_temp_view as

SELECT

        [TechnicalLinkTypeID],

        [CRMID],

        [LogicalAccountI

[2020-11-19 19:21] CMRobbie commented on #59
I think the problem is in this part, rather than the generation of the queries:
2020-11-19 19:16:14.545496 (Thread-1): Using connection string: DRIVER={ODBC Driver 17 for SQL Server};SERVER=of-bisql-01,1433;Database=Test;trusted_connection=yes
2020-11-19 19:16:14.545496 (Thread-1): Connected to db: Test

It should have connected to the ProductsModels database instead.

[2020-11-19 19:30] swanderz commented on #59
def helpful. now i'm thinking it has to do with the `sqlserver_create_view_as()` macro. Basically the default and redshift version of the macro just calls `{{relation}}` rather than `{{ relation.schema }}.{{ relation.identifier }}`. My team doesn't have bandwidth to look more into this until next week at the earliest. If you're feeling adventurous, you could try over-writing the `sqlserver_create_

[2020-11-19 19:43] CMRobbie commented on #59
I added a file called sqlserver_create_view_as.sql in my macros folder with this as content:
[code]

[2020-11-19 19:49] CMRobbie commented on #59
I now also tried it with two underscores in the filename behind sqlserver, and with one underscore in the macro function name, but all permutations those do not seem to work.

[2020-11-19 19:49] swanderz commented on #59
ok. try renaming the macro to just `create_view_as()`. you're instinct is correct that `--THIS IS A TEST` should show up in the log

[2020-11-19 19:57] CMRobbie commented on #59
Nope, doesn't work.
Does the filename matter?

[2020-11-19 20:02] CMRobbie commented on #59
Ah, sorry... I changed the materialization to table so it's obviously using sqlserver__create_table_as now.

[2020-11-19 20:04] swanderz commented on #59
Ok so now you add a new macro called `create_table_as()` with a version of the code that looks like [this](https://github.com/mikaelene/dbt-sqlserver/blob/43243a7d8cdbf8c7d5e6c00b6738c999950be29e/dbt/include/sqlserver/macros/adapters.sql#L122-L146). Hopefully you get an interesting workflow. Note if it feels like stumbling around in the dark and fumbling with light switches -- that's also my exper

[2020-11-19 20:05] CMRobbie commented on #59
Adding USE {{ relation.database }}; seems to do the trick! I'm going to test it a bit more.

[2020-11-19 20:06] CMRobbie commented on #59
It really helps to know that I can just override any macro from the adapter in the macros folder :) Thank you very much!

[2020-11-19 20:22] CMRobbie commented on #59
Creating a new table when none exists works. But if the table already exists, it doesn't work. My first hunch was to look at the query that does the rename, but somehow my new definition of the rename_relation doesn't come through. I tried overriding both sqlserver__rename_relation and rename_relation.

The error I get:

2020-11-19 20:19:23.209382 (Thread-1): On model.cm_datawarehouse.ProductsMode

[2020-11-19 20:53] swanderz commented on #59
welcome to the world of dbt adapter development and thanks for looking into this! At this point you're well on the way to your first PR. Feel free to do the macro over-riding for the short term, but [this guide](https://discourse.getdbt.com/t/contributing-to-an-external-dbt-package/657) will guide you in how to make changes for a PR.

As for the the rename thing you mention above, looks like it ha

[2020-11-19 22:15] CMRobbie commented on #59
I don't know.. I got it working but the change seems odd. It's working if I drop the table/view just before the rename:
[code]

[2020-11-20 06:57] swanderz opened #61 "dbt-adapter-test test_dbt_snapshot_strategy_check_cols failing"
This is the only test (besides `data_test_ephemeral_models`) that isn't passing CI. [relevant Circle CI run](https://app.circleci.com/pipelines/github/dbt-msft/dbt-synapse/90/workflows/be73e2d3-f70f-45ef-976d-a1be93888a8f/jobs/97/steps) for those who belong to dbt-MSFT org. Here's [the full gist](https://gist.github.com/swanderz/3dc131dbd9b28e71e345e4354231fd8f) from CircleCI that includes all the

[2020-11-25 18:00] jtcohen6 opened #63 "Add application name to ODBC string"
Microsoft collects anonymous aggregate statistics about SQLServer + Synapse usage via the "Application Name" property of connections. After we spoke with a Synapse PM the other day, they're curious to know how many people are using dbt with SQLServer + Synapse.

If you're open to it, I believe we can add an `APP` parameter to the ODBC connection string. For reference:

- [SQL Server docs](https://

[2020-11-25 20:09] swanderz commented on #63
Totally doable, IMHO. this might also dovetail with https://github.com/dbt-msft/dbt-synapse/issues/18 in that the `APP` param could depend on which product is specified in the `profiles.yml`?

[2020-12-07 06:55] swanderz commented on #21
@KimchaC this works for us! are you still having this issue?
[code]

[2020-12-07 07:02] swanderz opened #65 "increase CI test coverage for connection target types"
give the weird behavior we saw with connection strings and `SqlPassword=True`. @NandanHegde15 had the idea to have a separate Circle CI job would be verify that `dbt debug` works on all target configurations that are commonly used. We can either add this to #62 or in a new PR after #62 is merged.

The ones I can think of:
- [ ] `trusted_connection=True`
- [ ] `windows_integrated=True`
- [ ] when `

[2020-12-07 07:08] mikaelene commented on #65
That would be really great. It would really help improve stability on releases to be confident that this doesn't break. I think after #62 is merged. To make the merges smaller.

[2020-12-17 08:36] swanderz commented on #21
@KimchaC please reply back if you still can't get it working! we'd love to help out.

[2020-12-17 08:36] #21 closed

[2020-12-17 08:38] swanderz opened #66 "add __version__.py"
in order to "properly" split up `dbt-sqlserver` and `dbt-synapse` we need to add a `__version__.py`
https://github.com/dbt-msft/dbt-synapse/pull/32

[2020-12-17 08:54] swanderz opened #68 "fix AAD integrated authentication"
using `authentication: ActiveDirectoryIntegrated` doesn't work. most likely due to this chunk not helping anything just causing problems. @NandanHegde15 is in the process of testing will open a PR to resolve this ASAP.
https://github.com/dbt-msft/dbt-sqlserver/blob/f98edd015b252fbd7eb5acd2bd4c28d49e746d6f/dbt/adapters/sqlserver/connections.py#L153-L155

[2020-12-17 09:07] #54 closed

[2020-12-17 09:22] mikaelene commented on #59
I think this is the issue here. The current macro assumes you are connected to the database you want to build the view in. Thus leaving out the database identifier. Actually SQL Server doesn't allow you to specify the database to build it into. You have to be in the right data base. I think this issue will be quite difficult to solve. dbt is reusing connections so there would be a risk of executin

[2020-12-17 09:43] swanderz commented on #65
@jtcohen6 could you help us think how to best set up running `dbt debug` against all permutations of target configs? for example, we want to make sure that the `connections.py` logic works whether:
- the values are `true` or `false`, and if
- the params aren't specified.
[code]

we'd also need to do the same with all the AAD auth methods...

[2020-12-17 15:04] jtcohen6 commented on #65
@swanderz I don't think `dbt debug` returns nonzero exit codes, but you could do it just as well by executing a `dbt compile` command with each permutation.

I think you could do that outside of the pytest framework to start: create a `sample.profiles.yml` with a whole range of targets. In your Circle steps, copy that profile and execute `dbt compile --target {target}` for each.

[2020-12-18 06:48] #66 closed

[2020-12-18 07:03] mikaelene commented on #68
@swanderz  Should we include this in next release?

[2020-12-18 07:05] mikaelene commented on #63
we could maybe send "dbt"+ `adapter name from profiles.yml`

[2020-12-18 07:18] swanderz commented on #68
Yeah that'd be ideal! We hope to add less-technical users to our projects soon. Giving access via AAD is way more secure and simple than SQL account.

 While the fix itself is simple, @NandanHegde15 has been working on how we can test in CircleCI that `ActiveDirectoryIntegrated` is working with our test Azure tenant and an Azure VM. Though maybe if we can't get that finished in the next few days,

[2020-12-30 10:23] JCZuurmond opened #72 "Conventions for Python code"
Let's decide on which conventions to apply for Python code.

Issue originates from discussion about python import order

I'll put them back in the same order and open a separate PR for this. I do not care too much either. The following resources are useful:

According to [PEP8](https://www.python.org/dev/peps/pep-0008/#imports), Python imports should be on separate lines (per library) and the impo

[2020-12-30 10:27] swanderz commented on #72
I know @mikaelene is partial to `black` and that the `dbt-core` team uses `flake8`. Happy to discuss any changes via a PR with incremental changes.

[2021-01-04 12:29] mikaelene commented on #61
The bug here was that we were using a dbt_scd_id of id + cast(get date() as varchar). The casting of get date removed the milliseconds. When the test runs the get date cast gets the same value as the previously inserted record so the merge that are looking for different dbt_scd_ids did not find it. The change above increases precision in the get_date cast and solvs the problem.

[2021-01-04 12:29] #61 closed

[2021-01-04 12:42] mikaelene commented on #65
Is anyone working on this? I would really like to push a new version to pypi. But then we need to make sure that all functionality we are shipping are working as expected...

[2021-01-04 16:38] swanderz commented on #65
working on this today!

[2021-01-10 20:07] dubravcik opened #80 "hooks with multiple results stop execution after first result"
Hi, I noticed that if a hook contains multiple commands which are returning results, dbt stops execution once it gets the first result. It sometimes happens also when SQL returns some intermediate messages (like rowcount).

To reproduce it I created a useless script just to show that the execution stops right after EXEC sp_who2 and the following steps are not executed. It stops few milliseconds af

[2021-01-11 06:27] mikaelene commented on #80
If you executes multiple statements, can you use multiple hooks? One for each statement.

[2021-01-11 06:50] swanderz commented on #80
to @mikaelene 's point, `pre_hook` let's you pass a list of SQL statements. when I tried this, it works without issue!

[code]

[2021-01-11 07:24] mikaelene commented on #80
I think this is the intended behaviour. @dubravcik are you satisfied with this? Can I close this?

[2021-01-11 07:45] #65 closed

[2021-01-11 07:46] mikaelene commented on #68
@swanderz can this be closed?

[2021-01-11 09:04] dubravcik commented on #80
Yes I will use the list of SQL statements. Thanks @swanderz  @mikaelene !

I must say that it is unexpected behavior that it silently stops for somebody who doesn't know that it is intended. But it is like that in core dbt right?

[2021-01-11 09:08] #80 closed

[2021-01-11 09:35] mikaelene commented on #80
I don't know actually. I meant that if you want to use multiple statements you define them as multiple hooks. Intended usage  is maybe what I meant. The hooks is sent to the database with pyodbc. There is not much we can do about how it is executed. I guess that when dbt gets a result back it sees that statement as complete. dbt only sees that the sql is executed without error. If an error occur,

[2021-01-11 16:16] swanderz commented on #68
I'll close it now. For posterity, here's our recommendation:

[2021-01-11 16:16] #68 closed

[2021-01-12 17:23] jtcohen6 commented on #63
@mikaelene @swanderz Would you be up for getting this in before the v0.19.0 release? I think sending `'dbt'` + `credentials.type()` makes a lot of sense!

[2021-01-12 19:02] mikaelene commented on #63
I can look into that before release

[2021-01-13 07:45] mikaelene commented on #63
Solved with #63

[2021-01-13 07:45] #63 closed

[2021-01-13 21:18] EatZeBaby opened #82 "Cannot Authenticate with CLI"
I am trying to use the SQL Server adapter with the CLI authentication.
My config is the following :
[code]

Here is my profiles.yml
[code]
I run `az login` sucessfully
[code]
But when I run `dbt debug` I encounter the following error :
[code]

If I use :
[code]
It works but I have to authenticate at every command executed which is not efficient.
Do you have any idea of what I could be doing wrong

[2021-01-13 21:42] swanderz commented on #82
@EatZeBaby thanksX1000 for the time to write up this issue. I have none of the normally-required follow up questions.

@mikaelene and @NandanHegde15 are the SQL Server Server experts here, but I'll take a stab at this....

What version of SQL Server do you have? Where is it hosted? How is it connected to Azure?

I'm am by no means an expert, but my understanding is that you can only use the Azure

[2021-01-13 22:27] EatZeBaby commented on #82
I am using the following version (output of `SELECT @@VERSION`):
`Microsoft SQL Azure (RTM) - 12.0.2000.8 Oct 1 2020 18:48:35 Copyright (C) 2019 Microsoft Corporation`
The SQL Server is associated to the Azure tenant I am logging into. It is hosted on Azure and I have been able to connect with Azure Data Studio for example but with MFA only :
![image](https://user-images.githubusercontent.com/6329

[2021-01-13 22:32] swanderz commented on #82
Can you tell me what the integer `SELECT SERVERPROPERTY('EngineEdition')` returns?

[2021-01-13 22:34] EatZeBaby commented on #82
Sure. It returns `5`

[2021-01-13 22:35] swanderz commented on #82
ah ok. so you're on an Azure SQL. For some reason I thought you were on an on-prem SQL Server instance... let me research a little more

[2021-01-13 22:42] EatZeBaby commented on #82
I actually just made it work by running `az logout` and `az login`.
I tried to reproduce the issue but couldn't.
Sorry for the false alert.
Hope it might help someone one day !

[2021-01-13 22:42] #82 closed

[2021-01-19 13:36] alangsbo opened #84 "Recreating clustered columnstore index fails on sql server 2014"
Hi All!

I´ve setup a project using an sql server 2014 db and ran in to an error when running models: "Incorrect syntax near the keyword 'IF'..."

This seems to occur in the macro `sqlserver__create_clustered_columnstore_index` because of the syntax `DROP INDEX IF EXISTS {{relation_name}}.{{cci_name}}` which will not work in sql server 2014 where the sys tables has to be queried instead.

I tried

[2021-01-19 13:51] alangsbo opened #85 "Error when collation of server instance is different than database instance"
Hi!

Ran in to an issue running a dbt project on a sql server 2014 instance (I believe the same error would occur on later version but have not tested that)

When the collation of a database is different than the collation set on server level dbt will fail with the error message:
[code]

The reason is the union made in macro `sqlserver__get_columns_in_relation` where two datasets containing column

[2021-01-19 14:21] jfallt opened #86 "Connection Issue"
I received the following error when attempting to connect to my database (localhost):

Database Error ('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]TCP Provider: No connection could be made because the target machine actively refused it.\r\n (10061) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 17 for

[2021-01-19 14:22] jfallt commented on #86
I resolved this by checking my TCP settings

Sql Server Configuration Manager -> Sql Server Network Configuration -> Protocols For -> TCP/IP

Make sure TCP is enabled 🥳

[2021-01-19 14:22] #86 closed

[2021-01-19 14:25] swanderz commented on #84
@alangsbo so great to have people who can jump in and help provide a fix!

This adapter makes columnstore indices the default unless otherewise specified. This is also creates an issue for some tiers of Azure SQL where columnstore indices aren't supported.

You can either override this by adding `{{ config( as_columnstore = false, ) }}` to each model, or for the whole project by doing the followin

[2021-01-19 14:28] swanderz commented on #86
posterity thanks you @jfallt!

[2021-01-19 14:44] alangsbo commented on #84
sure! really excited about the growth of dbt-sqlserver and it´s nice to be a little part of it

About the readme, I think it´s perfectly clear, it is me who have to work on my RTFM skills :)

/A

[2021-01-19 15:33] swanderz commented on #85
@alangsbo your proposed changes pass the integration tests, but definitely want to get @mikaelene's input here as the only thing I know about collations is to run in the opposite direction whenever I see them 😆

[2021-01-19 21:46] alangsbo commented on #85
Likewise =)

[2021-01-20 08:47] #85 closed

[2021-01-21 09:52] alangsbo commented on #84
Hi!

Actually reopening this after some consideration. This change will not affect whether clustered column store indexes are created or not, only the way they are created _if_ they are set to be used

Will make a branch with the changes which we can test

/A

[2021-01-21 10:10] #84 closed

[2021-01-23 02:20] swanderz opened #89 "sqlserver__get_columns_in_query not working"
## background
`sqlserver__get_columns_in_query` was added by @qed- in #56 as basically a near copy of the base adapter version `get_columns_in_query` I'm working on it for the workaround suggested by the venerable @jtcohen6 in https://github.com/dbt-msft/dbt-synapse/pull/40.

#### TL;DR
The return statement below isn't working because:
- accessing the `.columns` attr of `load_result().table ` thro

[2021-01-25 10:34] jtcohen6 commented on #89
@swanderz This is one of the most confusing things in dbt-Jinja, and it has to do with `execute` ([docs](https://docs.getdbt.com/reference/dbt-jinja-functions/execute/)). Basically, during dbt's first step-through of your project— when it's just trying to capture `ref`, `source`, and `config` to build the DAG and determine run order—it does not run any SQL, so any Jinja objects that are defined vi

[2021-01-25 15:17] alittlesliceoftom commented on #25
Am I right that this hasn't been implemented in :

https://github.com/dbt-msft/dbt-sqlserver/blob/master/dbt/include/sqlserver/macros/indexes.sql

I'm about to test it out, I can raise as a PR if works well for me and useful ?

[2021-01-25 15:32] alittlesliceoftom opened #90 "Creating Indexed Views"
In SQL Server we can have indexed views to add speed without needing to recreate data.

However if we try and add these with post hooks we'll get this error:

`Cannot create index on view 'YourModel' because the view is not schema bound. (1939) (SQLExecDirectW)")`

To solve this we need to add `WITH SCHEMABINDING` to the view creation statement or alter it. The simplest way I can think to do this

[2021-01-26 18:39] swanderz opened #91 "clean up relation construction"
we should try and standardize on a convention of using `{{ relation }}` wherever possible over these variants:
- `{{ relation.schema }}.{{ relation.identifier }}`
- `to_relation.schema ~ '.' ~ to_relation.identifier`

@jtcohen6, how do we disable by default `database` being included when calling `{{ relation }}`? Do we have create a child of the `Relation` class?

https://github.com/dbt-msft/dbt-s

[2021-01-26 18:44] jtcohen6 commented on #91
+1 to using `{{ relation }}` instead of concatenating.

Check out how we did this same thing in `dbt-spark`:
- [SparkIncludePolicy](https://github.com/fishtown-analytics/dbt-spark/blob/2f7c2dcb419b66d463bb83212287bd29280d6964/dbt/adapters/spark/relation.py#L16-L20), which turns off `database`
- That policy is then set within [SparkRelation](https://github.com/fishtown-analytics/dbt-spark/blob/2f7c

[2021-01-26 19:03] swanderz commented on #90
just learning about materialized views and `SCHEMABINDING`-- looks pretty cool and valuable. Is my interpretation of the snippet below correct in that if you make a materialized view, then the upstream table cannot be changed unless you first change the downstream view? That raises alarm bells for me, but not sure if it's really a problem

### [docs snippet](https://docs.microsoft.com/en-us/sql/t-

[2021-01-26 19:36] swanderz commented on #91
beautiful. I'll open a PR.

maybe being extra here... but how about concatenating a relation by `_` instead of `.`? We do this for index naming. Looking for a cleaner way than the below.
https://github.com/dbt-msft/dbt-sqlserver/blob/4b3f7bce48f3ffa8509a6b16bcd55976a973c2c1/dbt/include/sqlserver/macros/adapters.sql#L116-L139

## potential solutions
1. duplicate [`BaseRelation.render()`](
https://g

[2021-01-26 20:04] mikaelene commented on #90
This part doesn't feels good

This means that when we drop and create the table the view is based on (since it's first in the DAG), will will get an error?!

[2021-01-26 20:52] alittlesliceoftom commented on #90
Yeh, that will break the order of ops on a change, that would be confusing
for user.

I think you're unlikely to use the feature on a quickly changing base table
though

On Tue, 26 Jan 2021, 20:04 Mikael Ene, <notifications@github.com> wrote:

[2021-01-27 03:05] swanderz commented on #89
@jtcohen6 another lesson for the books! 🙏

[2021-01-27 03:05] #89 closed

[2021-01-27 06:51] mikaelene commented on #90
You mean that it would only be based on sources, snapshots or incremental models? All other dbt models are dropped and created each time.

[2021-01-27 07:51] swanderz opened #94 "purpose of relation.incorporate in sqlserver__create_table_as"
@mikaelene can you help me understand what this does? Is the idea that all temp relations are made as views instead when creating tables, by removing the `#` from the temp relation identifier?

https://github.com/dbt-msft/dbt-sqlserver/blob/7e74e971762fdbd652f2e75973a012190147120e/dbt/include/sqlserver/macros/adapters.sql#L143-L145

[2021-01-27 10:30] mikaelene commented on #94
It looks like that :-). I think there was a problem using temptable in this materialisation. I didn't want to remove the possibility of using temptable in the adapter but could not use it here.

But I am not 100% sure why

[2021-01-27 14:16] jtcohen6 commented on #91
Option 1 doesn't sound crazy to me. You could define a special method on `SQLServerRelation`, something like `index_render`, and then call `{{ full_relation.index_render() }}` as needed.

It's fewer moving pieces if you handle in Jinja or SQL, of course.

[2021-02-04 09:39] sdebruyn opened #99 "CLI Authentication fails"
I am logged in through the CLI, but I am receiving the error below in `dbt debug`

profiles.yml:
[code]

dbt debug:
[code]

[2021-02-04 10:02] sdebruyn commented on #99
Same with dbt 0.18.1

[2021-02-04 10:14] sdebruyn commented on #99
Azure CLI auth itself does not seem to be the problem, I tried `AzureCliCredential().get_token` in a script myself and that worked.

[2021-02-04 10:20] swanderz commented on #99
At first glance, this does seem different than #82. Can you try authenticating with a SQL account or with `authentication=ActiveDirectoryInteractive`?

Also running `dbt compile` will send a juicy stacktrace to `logs/dbt.log`

[2021-02-04 10:27] sdebruyn commented on #99
Authentication using username/password works fine

dbt.log with AZ CLI auth:
[code]

[2021-02-04 10:36] swanderz commented on #99
@JCZuurmond any idea here?

[2021-02-04 11:18] JCZuurmond commented on #99
I think the login fails because the user does not have the right [permissions](https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-aad-overview#permissions) to access the SQL server.

You can confirm this by going to `query editor` in the SQL database and click on the `continue as <account name>`. I expect that you will get the same error message: `Login failed for user`.

I t

[2021-02-04 12:03] sdebruyn commented on #99
@JCZuurmond I can login using the same account in Azure Data Studio and in the online query explorer. My account belongs to an AD group which is set as AD admin for that server.

[2021-02-04 12:08] JCZuurmond commented on #99
hmm, and is the login done correctly? it says `Login failed for user ''`. There is an empty string for where the user name should be `''`

[2021-02-04 12:11] sdebruyn commented on #99
Yes, as far as I can see. Wouldn't the`AzureCliCredential().get_token("https://database.windows.net//.default")` fail otherwise?

[code]

[2021-02-04 12:17] JCZuurmond commented on #99
Ok, I'll have a look later today to see if I can recreate this error. Thanks for the additional context

[2021-02-04 18:22] JCZuurmond commented on #99
Hi @sdebruyn, I did not start recreating your issue yet. Before that could you try one more simple thing: change `cli` in your profile with `CLI`. It is case sensitive and it misses to login because of that.

[2021-02-04 19:19] swanderz commented on #99
@JCZuurmond thanks for all you help here. we should probably make a PR to remove the case-sensitivity.

@sdebruyn thanks for being patient while we figure this out. my only other idea (before we ask you to install the package in developer mode to get better logs) would be to see what happens if you use `ActiveDirectoryPassword` or `ActiveDirectoryInteractive`. Also, are you using SQL Server? or Az

[2021-02-04 19:26] sdebruyn commented on #99
Spot on. Using `CLI` works like a charm.

[2021-02-04 23:58] alittlesliceoftom commented on #90
Hmmm, that's a very good point, you'd probably end up having to shuffle things around, like re-pointing at different sources.

The idea here is to be able to do things like apply an index to a view (perhaps representing a subset of data) and for that you need schemabinding, but I think in a scenario with a dbt model it wouldn't work.

In my case I want to point at a source, but that's quite a limi

[2021-02-05 00:42] swanderz opened #100 "make CLI authentication case-insensitive"
in  #99, we found out that users assume that `authentication: CLI` can also be given as `authentication: cli` which is not the case.

@JCZuurmond... if you're interested 👀

Spitball idea, but maybe we add an `.upper()` to the this snippet below. something like:
[code]

https://github.com/dbt-msft/dbt-sqlserver/blob/0d529de2641cc7e3f84bab47e22a9f4c80629bbd/dbt/adapters/sqlserver/connections.py#L281

[2021-02-05 00:43] swanderz commented on #99
closing as @sdebruyn's issue is resolved, but opening #100 for a future PR

[2021-02-05 00:43] #99 closed

[2021-02-05 06:56] JCZuurmond commented on #100
@swanderz : That would indeed solve the problem for when authentication type is `cli` instead of `CLI` (or `cLi` for that matter). However it would not make the other authentication types case insensitive.

I have the urge to restructure some code first so that we can add (py)tests. It would make me more confident about changing code without breaking it.

However, if we prefer to do a quick fix fi

[2021-02-05 08:47] mikaelene commented on #90
Yes it might be a little confusing for the users. But if you "hard-code" the index script in a post-hook adding the schema-binding etc, maybe is works as a workaround? Or just create the view as a macro executed as a dbt-runoperation. I have stuff like that when working with snowflake. I.e. setting upp file_formats for external tables.

[2021-02-05 10:12] JCZuurmond opened #101 "Remove redundant logic for `type_auth == "ActiveDirectoryIntegrated"`"
This piece of code does not do anything. It tries to remove the element in the list with value `"UID={None}"`, however that element is never created, therefore it can also not be removed

https://github.com/dbt-msft/dbt-sqlserver/blob/0d529de2641cc7e3f84bab47e22a9f4c80629bbd/dbt/adapters/sqlserver/connections.py#L238-L240

[2021-02-05 11:09] swanderz commented on #100
no urgency to make a hotfix, given that this issue is documented and easily fixed. more tests would be great -- thanks for offering. Happy to add any tests you write to CircleCI.

[2021-02-05 11:11] swanderz commented on #101
yeah 100%. I actually want to remove all reference to `ActiveDirectoryIntegrated` as it has nothing to do with Azure. Instead, it pertains to on-prem Active Directory which is rather old-school and unsupported at this point.

[2021-02-05 11:23] #94 closed

[2021-02-05 16:09] JCZuurmond commented on #101
Ok, so we are quite sure nobody is using that? It would clean up the code

[2021-02-05 20:05] swanderz commented on #101
Yep! We couldn't even get it working on our end

[2021-02-08 09:37] dubravcik opened #104 "snapshot with new nvarchar column fails"
Hi, I have a table with many nvarchar columns with dbt snapshot on it.

If I add new nvarchar column in the base table, dbt snapshot fails with "String or binary data would be truncated in table...".
Problem is that new column in target snapshot table has length = 1, which is incorrect.

I think the problem is here. The new nvarchar column doesn't have length specified
``` alter table "stg"."sales

[2021-02-08 09:55] mikaelene commented on #104
I didn't know adding new columns to a base table and expect to see them in the snapshot-table was supported? I think if you alter the column in the snapshot_destination_table and then try again it will work.

Just saw below in the docs but have never tried it myself.

We should probably add a test for it in https://github.com/fishtown-analytics/dbt-adapter-tests and then try to fix this with the m

[2021-02-08 10:33] dubravcik commented on #104
Yes, if I alter the column manually in snapshot_destination, it succeeds.

[2021-02-15 16:40] JCZuurmond opened #107 "Remove pyodbc docker file"
Currently there is a docker file which installs the ODBC driver for Microsoft SQL server. The container created from the docker file is used in the Circle CI, only. This container/file is not needed if the ODBC driver is installed in a CircleCI (build) job.

- this docker file/container is redundant since we have circleci
- changing the docker container is cumbersome, since the publishing is not a

[2021-02-15 16:54] JCZuurmond commented on #107
I think it would make sense to make a `build` stage like [here](https://circleci.com/docs/2.0/sample-config/#sample-configuration-with-sequential-workflow)

[2021-02-15 23:41] b-per opened #108 "Issue with snapshots when unique key is varbinary (0.19)"
Hi!

Just testing the move from dbt-sqlserver=0.18 to dbt-sqlserver=0.19 and some snapshots that are working in v0.18 are failing now. This is the case when the unique_key of the snapshot is already hashed and of the type `varbinary`.

Here is the error:
[code]

The workaround I found is to change `unique_key='my_sk'` to `unique_key='CONVERT(NVARCHAR(32),my_sk,2)'` in the snapshot config but I am

[2021-02-16 07:51] mikaelene commented on #108
Hi, I can understand the error, but not why you didn't get an error before. If I remember correct, dbt is making a new key called SCD_ID or similar that is a hash of converting the key you supplied "my_sk" with some date columns etc. It can probably be so that this is not supported by SQL Server. But why did it work before? This is the macro and I don't think it has changed: https://github.com/dbt

[2021-02-16 10:08] camfrout commented on #108
I just checked the `strategies.sql` file that I am using before the upgrade to v0.19 and it still has the "old" `cast` instead of `convert`, hence why I didn't have the error until now. I just checked `pip list` and this is the macro shipped with dbt-sqlserver=0.18.0 from pypi.

[code]

[2021-02-16 13:50] mikaelene commented on #108
Sorry! You are right! That was changed to increase the precision in the timestamp used in the snapshot. The previous code truncated the timestamp to second. This made the CI-tests fail for snapshots. Unlikely to happen in real life. https://github.com/dbt-msft/dbt-sqlserver/issues/61. I'll mark this as a bug. If you have an idea of how to solve this, please let me know.

[2021-02-16 22:52] camfrout commented on #108
Not sure if this will fix it, but would it be possible to change `GETDATE()` to `GETDATE() AT TIME ZONE 'UTC'` in the CI test? And then revert the macro to use CAST instead of CONVERT?

Casting the date with the timezone to VARCHAR keeps the milliseconds info.
`SELECT CAST(GETDATE() AT TIME ZONE 'UTC' as VARCHAR) AS date_utc_to_varchar` returns `2021-02-16 22:47:40.857 +00:00` for example.

[2021-02-17 05:53] mikaelene commented on #108
That is a very good idea. That was basically what I was trying to achieve. I'll have a look in the upcoming days.

[2021-02-17 13:33] larsjohanssonblank opened #109 "Save dbt-tags to Extended Properties for tables/views"
Would it be possible to add tags defined in the dbt model to Extended Properties for a table/view?

Would be useful to be able to have the documentation/tags embedded in the table/views, so that tou could generate reports on extended prop (the use case is to tag/mark tables/views if they contains sensitive personal data (GDPR etc)

https://docs.microsoft.com/en-us/sql/relational-databases/system-s

[2021-02-17 18:25] panasenco opened #110 "Changing the database via {{ config(database='OTHER_DB') }} doesn't work"
My default database name is `EDW_BDM` but I'm trying to create this one view in a different database `FI_DM_EBI`.

sqlserver.sql:
[code]

`dbt run` prints `START view model FI_DM_EBI.dbo.sqlserver` and dbt docs show below database structure:

![image](https://user-images.githubusercontent.com/5506411/108249421-e83eb480-7109-11eb-9b14-23261fca3b00.png)

However, the view still gets created in `EDW_

[2021-02-18 09:14] swanderz commented on #109
I think this is a really cool idea! Especially if it could easily surfaced inside of Purview for example. I know that Big Query let's you do this, but have you seen any cool examples of people using the extended prop feature w/ TSQL?

[2021-02-18 10:43] larsjohanssonblank commented on #109
i don't know if the usage is cool like Jägermeister cool ;-), but it goes well with the principle of keeping documentation as near as the code as possible, and being able to tag tables/views and even columns if one would like, is a good example of a self documenting database.

[2021-02-19 08:11] dataders opened #112 "add integration testing for SQL Server pre-2016"
one challenge is that it looks like SQL Server 2017 (`14.0.1000.169-2`) is the oldest version of SQL Server to run on Linux. So the challenge would be to build a Windows-based Docker image that installs an older version?

Alternatively we could host an older version somewhere instead of Dockerizing it?

[2021-02-19 08:17] mikaelene commented on #112
I think we have to run a vm with windows on it.

[2021-02-20 08:58] JCZuurmond opened #114 "Make authentications case insensitive"
Make all authentication methods case insensitive, similar to #100. IMHO we should change the `SQLServerCredentials` so that `authentication` always is lower case.

[2021-02-22 19:14] dubravcik opened #117 "snapshot with unique key longer than 30 chars fails on duplicate"
Hi, I have a snapshot with unique_key on hash and I am getting duplicate error on internal dbt_scd_id in merge phase.

I checked the dbt code and problem is, it converts the id_hash to varchar. SQL Server uses by default 30 (!?wt.f!?) chars if you state varchar without a length.

[code]

I would probably change it to varchar(max) as it is changed to varchar(32) at the end anyway.

[2021-02-22 20:20] mikaelene commented on #117
Relates to #108. @dubravcik do you think #118 will solve it?

[2021-02-22 20:20] mikaelene commented on #108
Relates to #117. @camfrout do you think #118 will solve it?

[2021-02-22 21:25] dubravcik commented on #117
I don’t think so, it still uses `varchar` which defaults to 30 chars. I suggest `varchar(max)` , I don’t think that it will have a significant performance impact, but I can test it on my data.

[2021-02-23 06:25] mikaelene commented on #117
Ahh. I’ll change to max. There was also an issue when I tried to cast it as a date before. I somehow missed that it uses the key to.

[2021-02-24 06:06] infused-kim opened #119 "Retry model on connection errors"
Hey Guys,

Is it possible to implement re-trying of queries if the query fails due to non-model related errors?

For example, sometimes Azure SQL fails with errors like this:
[code]

This is particularly frustrating in daily, automated runs through airlfow. I have solved it for now by adding retry logic through airflow that re-runs only failed and skipped models, but perhaps it would be worthwhile

[2021-02-24 06:48] mikaelene commented on #119
Interesting. I have never had issues with that. Sounds like something to put in dbt-core? @jtcohen6 ?

[2021-02-28 10:16] camfrout commented on #108
I have not tried to run the new code but from what I can see it would solve the problem, yes.

[2021-03-02 08:20] hz-lschick opened #121 "escape column names in tests"
The test sql scripts do not escape spaces in column names. It is required to do this by myown in the schema definition.

### Sample:

[code]
works but
[code]
fails

[2021-03-02 08:32] hz-lschick commented on #26
It would probably be possible to support WITH by creating a view, running the view and then dropping the view again, but that would require to run multiple SQL queries or to build everything into a procedure returning results of a temporary table ...

[2021-03-04 15:16] dubravcik commented on #110
same here.
Moreover, my model was incremental and `dbt run` dropped it (even though it has ` full_refresh = false`)  due to the bug :D

[2021-03-04 18:11] #107 closed

[2021-03-11 04:24] ElectricLlama opened #123 "snapshot uses "limit""
I'm using dbt 0.18.1, dbt-sqlserver 0.18.0, SQL Server 2019 developer edition. database compatibility level 150

I'm creating a snapshot model like so (using AdventureWorks):

[code]

I get this error:

When I look in the log, it's running this:

[code]

My profiles.yml looks like this:

[code]

Obviously limit is not valid T-SQL

Is this something that can be fixed in this plugin or does it need

[2021-03-11 06:18] swanderz commented on #123
Totally. Neither is `where false` as T-SQL doesn't have `boolean` types. Quick thought, does the `type` parameter in your `~/profiles.yml` set to `sqlserver`? Because for some reason your CLI is calling the [default version of `get_columns_in_query()`](https://github.com/fishtown-analytics/dbt/blob/2b48152da66dbd7f07272983bbc261f1b6924f20/core/dbt/include/global_project/macros/adapters/common.sql#

[2021-03-11 08:43] mikaelene commented on #123
Hi, I think this version may have some issues as well. Generally we recommend using a version of dbt-sqlserver that is the same as the dbt version or higher if it is in the sam major release (0.16, 0.17, ...). You are using a version of dbt-sqlserver that was developed before the dbt version you are using. There were also some short iterations between support for dbt 0.16 and 0.19. I don't think v

[2021-03-18 23:50] ElectricLlama commented on #123
I've edited my question with all of the error message and my profiles.yml. It's definitely set up for SQL Server. So for some reason it's using the default template.

I created a new environment and updated dbt to 0.19 and dbt-sqlserver to 0.19.1 and it all works now.

Interestingly the non functioning environment never listed any plugins. Maybe that has something to do with it:

Non functioning:

[2021-03-18 23:50] #123 closed

[2021-03-19 06:21] swanderz commented on #123
@ElectricLlama thanks for following up! Glad to hear you were able to resolve your issue. Someone in the future will surely benefit from the time you took to write this up clearly.

[2021-03-30 13:47] mikaelene commented on #117
closed by #118

[2021-03-30 13:47] #117 closed

[2021-03-30 13:47] mikaelene commented on #108
closed by #118

[2021-03-30 13:47] #108 closed

[2021-03-30 15:06] swanderz commented on #121
@hz-lschick is it enough to just put quotes like `"Account Type"`? This is standard convention for YAML when you have strings with spaces

[2021-03-30 15:41] hz-lschick commented on #121
@swanderz Sounds good to me

[2021-03-30 16:11] #121 closed

[2021-04-12 13:42] hz-lschick opened #127 "Importing huge seed files failes"
I have a seed file with 14 columns and 152 lines. It fails with the error message:

![image](https://user-images.githubusercontent.com/46843047/114403718-53a28100-9ba5-11eb-9d08-01b5560ed8d1.png)

Note: 14 columns x 152 rows = 2.128 cells

This looks like that the seed files are not batched when they are imported so they fail when they are too big.

I think dbt should create batches for lines/cell

[2021-04-12 13:53] mikaelene commented on #127
There is already a limit on number of rows in dbt-core. The use of seeds are not advised and may get deprecated in the future. I think it will require some work to make dbt batch insert the data.

But 152 rows is not that much. I don't know what the limit are in more recent versions of SQL Server.

[2021-04-12 14:39] hz-lschick commented on #127
Well, the limit is actually 2.100 as you can see from the error query but the dbt module for SQL Server seems to make each cell as insert / or parameter which makes it break. I don't have much insight into the inner logic what the module executes here but I think 152 rows should be supported.

[2021-04-12 14:42] hz-lschick commented on #127
The SQL Server `insert ... VALUE (..), (..)` limit is 1.000 rows. So, thats for sure not the issue here. I think it has to do that each line value is passed through a parameter e.g. like this
[code]

[2021-04-13 06:01] swanderz commented on #127
@hz-lschick you're directionally correct here.

If you look at line 18, each column value is a parameter marked by `?`.  AFAIK,`sqlserver__basic_load_csv_rows()` takes a `batch_size` argument which is set by `sqlserver__load_csv_rows()` to be 200 (i.e. 200 rows). I believe that `sqlserver__basic_load_csv_rows()` will create one `INSERT INTO` statement for each group of 200 rows.

So a potential wo

[2021-04-13 06:14] mikaelene commented on #127
I guess we could change the 200 setting to 100 instead. Will not make a difference in performance. Anyone interested in doing a pull request?

[2021-04-13 06:43] hz-lschick commented on #127
Hmm I think the offered solutions are both good and will work for me, but would wish that someone would do this calculation within the code. E.g. when you have a batch size of 200 and you have over 10 columns the batch size should be automatically be reduced so that one query does not use more than 2100 parameters/cells in the insert query.

[2021-04-13 09:35] mikaelene commented on #127
From my point of view it is a little overkill. I guess we can set it to 42 and have a disclaimer that seed files with more than 50 columns is not supported. I think SQL Server would handle the inserts quite fast even with the small batch size.

But, I will approve a PR with this logic if it works ok :-).

Seeds files are in your project directory and will be version controlled. This means that if

[2021-04-13 13:32] JCZuurmond opened #131 "Use `tox` for all integration tests"
# Background
We currently run some integration test outside of `tox`. See [circle CI config](https://github.com/dbt-msft/dbt-sqlserver/blob/master/.circleci/config.yml), for example [this line](https://github.com/dbt-msft/dbt-sqlserver/blob/5fb850e26d7131628859dea51710e53ddb6181b3/.circleci/config.yml#L53).

# Summary
Let's move these integration test to `tox` so that we have a uniform way of test

[2021-04-23 09:30] alittlesliceoftom opened #133 "Incremental Model Fails When Column Varchar Size Increases (Edge Case)"
When an incremental model's varchar size increases beyond the current default e.g. from VARCHAR(50) - (150) , dbt attempts to replace the column, however it makes syntax errors in SQL server:

**Actual**
[code]

**Desired**
[code]

I may be able to add a MRE later.

Dbt 0.19.1

[2021-04-28 08:19] JCZuurmond commented on #131
For context, [this dbt PR](https://github.com/fishtown-analytics/dbt/pull/3204). Makes the tox setup more similar to what we have.

[2021-05-05 13:43] adrianturcato-initiative commented on #59
Hi All,

Thought I would drop a line here. I am also experiencing this problem. I followed the suggested fix in PR #126, installing dbt via cloning the branch from PR #126 . But I am still getting the same issue. I pasted the log below.

In this case I am looking for the table `stg_unpacked_placements` to be materialized in `Client_DB` instead of the default `Default_DB`. With the build from #126

[2021-05-06 16:15] adrianturcato-initiative commented on #59
Hi Again,

I seemed to have resolved the situation. I ran the compiled code directly in SQL Server, it gave me an error message that wasn't being surfaced in DBT. Basically there was a UDF I was referencing in the query (which I actually sanitized from the log posted above), the UDF is defined in the Default_DB, but I wasn't referencing it with the full location (ie I was only referring to schema.

[2021-05-09 20:36] telenieko opened #134 "Implement persist_docs"
`dbt`  has a configuration option to persist documentation to the database:
https://docs.getdbt.com/reference/resource-configs/persist_docs

Attempting to use it with the sql server adapter results in:

    ERROR: alter_relation_comment macro not implemented for adapter sqlserver
    ERROR: alter_column_comment macro not implemented for adapter sqlserver

Feature Request: implement the above

[2021-05-10 00:15] swanderz commented on #134
I agree that this feature would be cool, but how would one use it? [This example using Extended Properties](https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-addextendedproperty-transact-sql?view=sql-server-ver15#b-adding-an-extended-property-to-a-column-in-a-table) seems helpful, but how would a user of the database see this info in SSMS or Power BI?

I'm an Ex

[2021-05-10 09:17] telenieko commented on #134
TBH I have no idea how one would use it.

As far as I know Extended Properties is the recomended way to handle in-database documentation. So it would be safe to assume that user tooling (SSMS, PowerBI, ...) will at some point do proper use of that documentation.

Maybe the way to make those tools do proper use of Extended Properties is to first put something in there so people can start complainin

[2021-05-13 01:50] #114 closed

[2021-05-19 13:18] visch opened #135 "Some SQL commands don't report a failure"
EXEC('ALTER TABLE dbo.stg_things addd primary key(thing_id)')

This command will fail due to **addd**  being incorrect. This will just keep chugging along, is that just a side affect of EXEC that we have to live with? I'm going to attempt to not use EXEC, but I was warry when I read https://github.com/dbt-msft/dbt-sqlserver/issues/80

Still new to DBT so I'm not certain how everything's supposed t

[2021-05-19 19:56] visch commented on #135
Changed the title as I just had this SQL run and fail, but dbt reported everything to be ok

[code]

The failure was due to another table already having the DF_SysStart constraint setup. This can be replicated by setting up a table with this constraint before running the query.

[2021-05-20 02:24] swanderz commented on #135
@visch very glad that you're putting dbt-sqlserver through it's paces here. my question is how are you running the code above? with a `post-hook`?

in [our related Slack thread](https://getdbt.slack.com/archives/CMRMDDQ9W/p1621019815068300), I mentioned how it might make sense to alter the create table macro to include an option to set `SYSTEM_VERSIONING`. Here's [the macro](https://github.com/dbt

[2021-05-20 13:30] visch commented on #135
Yeah no problem glad to use this, I appreciate all the work everyone's put into this to allow me to get sql working very easily. Just a few hiccups :D

I did the Primary Key, and Clustered Index in the create_table_as macro you mentioned under an if

{% if unique_key and not as_columnstore -%}

[2021-05-25 18:38] visch commented on #135
I think these problems are coming from the EXEC statement

Did a little diving and found https://stackoverflow.com/a/55880440. Doing some kind of try catch when we need to do an EXEC might get us what we want here (proper failure)

[code]

[2021-05-25 20:56] swanderz commented on #135
my question is still

The whole design principle of dbt is that you never have to write Data Definition Language or Data Maniuplation Language, you just write select statements.

Maybe I'm missing something, but I'm struggling to understand how this a dbt problem, and not just an SQL Server problem. Are you struggling to modify tables that dbt created?

[2021-05-25 20:57] #110 closed

[2021-05-25 21:10] visch commented on #135
I think I get where the misunderstanding is.

Let me restate this with a use case from dbt-sqlserver

https://github.com/dbt-msft/dbt-sqlserver/blob/master/dbt/include/sqlserver/macros/adapters.sql#L113 can fail due to Errors like source data not existing like this example https://github.com/dbt-msft/dbt-sqlserver/pull/126#issuecomment-848108760

When this fails dbt doesn't report an error (`dbt r

[2021-06-04 18:40] owlas opened #136 "dbt jaffle shop demo doesn't work on adapter"
**Minimum working example**

Here's my directory
[code]

[code]

[code]

[code]

**Steps to reproduce**

In one terminal run the following commands in the dbt container. This shows that the profile is setup correctly, it creates the seed tables, and then successfully creates 3 views `stg_orders,stg_customers,stg_payments` and 2 tables `customers, orders`

[code]

So by the end you should see:
[cod

[2021-06-08 17:16] swanderz opened #137 "re-implement Compiler._add_ctes() method"
Doing this would enable:
- ephemeral materialization, and
- usage of CTEs in data tests

Fixes:
- #26, and
- https://github.com/dbt-msft/dbt-synapse/issues/25

@jtcohen6 do you mind taking a rough stab at templating this out? In https://github.com/dbt-msft/dbt-synapse/pull/29, you already did this for dbt-synapse, but since I re-wrote the Git history, I can't see you actual changes.

### **_update

[2021-06-09 01:33] jtcohen6 commented on #137
I think these are going to be two separate issues going forward. The solution for data tests should be much more straightforward—newly, however, it will be relevant to schema tests as well.

### Tests

In v0.20.0, dbt will be templating data tests via a `'test'` materialization, defined [here](https://github.com/fishtown-analytics/dbt/blob/develop/core/dbt/include/global_project/macros/materializa

[2021-06-09 07:02] SportsTribution commented on #135
Hi,
to add a minimal example.
`SELECTx
    *
FROM {{source('source_data')}}`
leads in previous versions to:
`Database Error in model master_alarm (models\alarme\master_alarm.sql)
  ('42000', '[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near "SELECTx". (102) (SQLExecDirectW)')
  compiled SQL at target\run\mssql_test\models\alarme\master_alarm.sql

Done. PASS=1 WAR

[2021-06-09 19:30] swanderz commented on #135
ok @visch, now I understand. @SportsTribution can you tell me what version of dbt-sqlserver this worked? was it `0.19.0.1`?

@semcha @panasenco perhaps this has to do with how `EXEC` was introduced? I never thought to introduce a test that tries to make a broken model on purpose, but because we don't have one, everything worked...

https://github.com/dbt-msft/dbt-sqlserver/blob/679b3515e9f056879c6

[2021-06-10 09:19] SportsTribution commented on #135
Yes, it's `0.19.0.1`. I just tried `0.19.0.2` - works as well.
I think you're right. As I mentioned in https://github.com/dbt-msft/dbt-sqlserver/pull/126
I think it has something to do with pyodbc(?) not catching errors in the second command
https://github.com/flyway/flyway/issues/718

So in 0.19.1 you have
USE [your_db];
execute(...)

And as there are two commands the second is somehow ignored in

[2021-06-13 19:45] swanderz commented on #59
fixed by: #126!

[2021-06-13 19:45] #59 closed

[2021-06-13 20:22] swanderz opened #139 "dbt doesn't properly return error message on wrong syntax"
re-phrase of: #135

using `dbt-sqlserver==0.19.1`, if you make a syntax error in a model, the dbt CLI does not return the error message like it used to in `dbt-sqlserver<0.19.1`.

This has me stumped so I'm tagging all the folks who know more about TSQL than me: @NandanHegde15 @mikaelene @semcha @panasenco

## steps to reproduce

1. configure a target of `type=sqlserver`
2. install dbt-sqlserver==

[2021-06-14 06:42] mikaelene commented on #139
I think it used to return the error. At least that it was an error. Don't know when this bug was introduced. Does anyone know?

There has been a lot of changes that I have not looked into really. This looks suspect: https://github.com/dbt-msft/dbt-sqlserver/blob/679b3515e9f056879c6609c78bb62791716c450a/dbt/adapters/sqlserver/connections.py#L367

[2021-06-14 11:09] swanderz commented on #139
It was introduced in #136 which was part of the latest release which a user confirms in #125

[2021-06-14 11:20] swanderz commented on #139
@mikaelene that _really_ does look sus. Older than I thought #81. I'll play w reverting that change.

[2021-06-14 13:14] mikaelene commented on #139
Looks like I am to blame here :-). Guess I just wanted it to work and never finished the last mile. Sorry. I'll see if I can have a look as well.

[2021-06-14 14:48] jeroen-mostert commented on #139
I'll just leave [this commit here](https://github.com/jeroen-mostert/dbt-sqlserver/commit/9499a9eb8ada6bce52dae5a2008cc6dd08e129ec) because I was unsure if it was clean enough for a PR (or if it belongs on this level, or further upstream in dbt itself), but I encountered this particular problem when we homebrewed support for multiple DBs -- the root of the issue (at least with our change) was that

[2021-06-17 13:40] visch opened #143 "load_relation not behaving with a different table"
With my incremental macro setup like this
[code]

Log returns this
`2021-06-17 13:33:12.042538 (Thread-1): In incremental, if existing relation is none.This:"DatabaseOutSideOfDBTProfile"."schemaname"."tablename". Target relation:"DatabaseOutSideOfDBTProfile"."schemaname"."tablename"`

The issue for me is that the Table `"DatabaseOutSideOfDBTProfile"."schemaname"."tablename"` Does exist, so somethi

[2021-06-17 14:32] swanderz commented on #143
is the reason you're trying to make a new `incremental` materialization because it isn't working for you? IIRC, incremental should be supported currently....

[2021-06-17 15:01] visch commented on #143
I need a merge strategy for the incremental materialization that doesn't exist today!

[2021-06-17 19:33] visch commented on #143
Not related at all, this was from my own Macros that are changing the names of things.

[2021-06-17 19:33] #143 closed

[2021-06-22 07:47] larsjohanssonblank commented on #139
Hi folks,
upgraded to dbt 0.19.1 and dbt-sqlserver 0.19.1 and I got these kind of errors.
SQL Server 2017 on-prem.
dbt execution tells me everything is ok:
09:33:04 | 1 of 1 START table model staging.revenue_monthly_1062................ [RUN]
09:33:05 | 1 of 1 OK created table model staging.revenue_monthly_1062........... [OK in 0.25s]
But no table is created, and when I look into the dbt generate

[2021-06-22 07:56] mikaelene commented on #139
Hej @larsjohanssonblank! This is a known issue. I think it is solved in branch [cursor_conundrum](https://github.com/dbt-msft/dbt-sqlserver/tree/cursor_conundrum). Can you try that branch?

@swanderz do yo know what is failing in the integration tests in that branch for azure-sql?

[2021-06-22 08:46] larsjohanssonblank commented on #139
I'll try later today (I'll hope), thanks @mikaelene

[2021-06-22 19:43] swanderz opened #144 "no capability to add ORDER BY table models"
a [user in dbt Slack](https://getdbt.slack.com/archives/CMRMDDQ9W/p1624375182070500) asks:

Because we're using the `SELECT * INTO` DML for our model generation, if you include an `ORDER BY` in the SELECT query of a model, you'll get the above error. But I'm confused because the [docs](https://docs.microsoft.com/en-us/sql/t-sql/queries/select-order-by-clause-transact-sql?view=sql-server-ver15#inte

[2021-06-22 19:51] swanderz commented on #139
@mikaelene it was just an inane error about the Azure CLI not being able to installed. It completed now, so I'm going to merge it.

[2021-06-22 20:40] #139 closed

[2021-06-23 00:16] visch commented on #135
Fixed with #140  !

[2021-06-23 00:16] #135 closed

[2021-06-23 05:43] #100 closed

[2021-06-23 07:18] mikaelene commented on #144
I think this is due to that we are creating a temp-view in the middle of this. The tmp_relation above. A view can not have order by.

[2021-06-24 09:17] jeroen-mostert commented on #144
There is only one scenario where `ORDER BY` in an `INSERT` makes sense, and that's for guaranteeing that `IDENTITY` columns are assigned values in order. In all other cases this does not do what you might want it to do -- in particular, every time you `SELECT` from a table you must specify an `ORDER BY` if you want an order, otherwise the engine is free to rearrange things as it sees fit (and it w

[2021-06-24 13:05] DVTimWilson opened #146 "Seed file without data rows causes "max() arg is an empty sequence" error"
Using a seed file containing only column headers and the dbt-snowflake adapter, the command "dbt seed --select seedfilename --full-refresh" creates an empty seedfilename table in Snowflake. With the dbt-sqlserver adapter v0.19.1, however, I get a "max() arg is an empty sequence" error and no table is created in MSSQL.

The error occurs in dbt/adapters/sqlserver/impl,py line 22. I am working around

[2021-06-24 17:09] swanderz commented on #146
quick question -- can you do this in other adapters? I'm scouring [dbt's default seed materialization](https://github.com/fishtown-analytics/dbt/blob/develop/core/dbt/include/global_project/macros/materializations/seed/seed.sql) and I can't see anything just yet that would allow for this behavior...

this line?
https://github.com/dbt-msft/dbt-sqlserver/blob/ab9b6fdd144d835430b4ea24d49c5c96e8983a48

[2021-06-24 17:38] swanderz commented on #144
I thought it would be possible (and maybe even _useful_) to add a custom configuration, `order_by`, that could be used like below. However I tried it just now and the `ORDER BY` did nothing and the rows are returned in ascending order.

@mikaelene can you remember why we don't use temp tables and instead use views? I can't remember...

[code]

calling `dbt run -m example` would run the following S

[2021-06-24 17:46] swanderz commented on #146
did some more digging and looks like this issue also happened with the Redshift adapter and was fixed in https://github.com/fishtown-analytics/dbt/pull/2255

I'll make a quick PR that copies this fix and maybe you can try it out and see how it works?

[2021-06-24 18:24] swanderz commented on #146
@DVTimWilson I just made a patch PR with #147, do you want to try and see if it fits your use case?

[2021-06-25 10:29] jeroen-mostert commented on #134
There is a semi-standard in the form of the `MS_Description` extended property. This is what SSMS surfaces for columns if you use the table designer, and it surfaces it for tables if you use the Diagram Designer and choose the table properties. Power BI appears to have no support, at least it doesn't show anything if you're browsing tables in the import. I have no idea how widespread support for `

[2021-06-25 17:09] #146 closed

[2021-06-25 17:18] swanderz commented on #136
@owlas sorry for your trouble here -- I think the problem is two-fold:
1. there is something about the repo that isn't SQL Server compatible out of the box. there have been various versions of the jaffle_shop projects and various forks that are SQL Server compatible:
    1. https://github.com/jacobm001/jaffle_shop_mssql
    2. https://github.com/dbt-msft/jaffle_shop_mssql
2. there is a bug introdu

[2021-06-27 20:10] jhoolachan opened #148 ""Runtime Error list.remove(x): x not in list" when trying to connect to Azure SQL"
Hello,

I am trying to connect to an Azure SQL DB using ActiveDirectoryIntegrated authentication and am receiving the following error:

"Runtime Error list.remove(x): x not in list"

I see from the documentation that there are some stipulations to using ActiveDirectoryIntegrated (i.e. machine's credentials are enabled, ADFS is installed and running) and while I can't 100% confirm those stipulation

[2021-06-27 20:37] swanderz commented on #148
I've personally never gotten ActiveDirectoryIntegrated to work before... however, there's obvious fix to the error message we're currently seeing... remove these lines.

https://github.com/dbt-msft/dbt-sqlserver/blob/39d468ddfefb3829c553fe121fe51f4735f4c769/dbt/adapters/sqlserver/connections.py#L273-L275

Want to try and install the branch in #149 and let me know if it works (or the new error mess

[2021-06-27 21:21] jhoolachan commented on #148
Thank you for the speedy response! The fix solved the issue and I've confirmed that "dbt run" generates the expected output in the SQL DB.

[2021-06-28 19:24] #148 closed

[2021-06-30 17:08] lkell commented on #144
I originally requested a sorting mechanism in the slack channel because I thought it would be convenient to my data mart's end users to have a default row ordering on specific tables/models. However, learning more about the SQL behavior makes me realize that this may not be feasible or as useful as I had thought (@jeroen-mostert's  comment was very helpful in that regard). Alternatively, I can per

[2021-07-01 08:26] owlas commented on #136
Hey @swanderz sorry for the delay, will try this out today. Thanks for looking into it!

[2021-07-01 09:57] jeroen-mostert commented on #144
Adding a clustered index to the table doesn't convey any (intrinsic) order either. It will often be the case that you will get the clustered index order when you do a `SELECT *` with no `ORDER BY` (especially if the table is small and is never modified), but this is not guaranteed, and your end users should not count on it -- they should always write their own `ORDER BY`, otherwise they might get

[2021-07-01 10:23] mikaelene commented on #144
Closing this, as it is not really feasible, and not desirable.

[2021-07-01 10:23] #144 closed

[2021-07-07 21:26] swanderz commented on #136
ouch -- definitely not normal! the bugfix version has been published to PyPI, so `pip install dbt-sqlserver==0.19.2` should suffice now.

<img width="714" alt="image" src="https://user-images.githubusercontent.com/8158673/124830767-39233e00-df2f-11eb-9706-8fc8e4e7eb0c.png">

[2021-07-07 21:53] owlas commented on #136
Nice! I'll try the new pip package

[2021-07-19 12:40] visch opened #152 "alter_column_type - Not working for column change"
To replicate setup an incremental model.

1. Setup the your table to include a column like Varchar(50), alter the column to include varchar (5000) sql below
2. Run your model, which will trigger the alter_column_type macro
3. It will fail

For 1. above
[code]

For 3. above

[code]

[2021-07-19 20:47] #127 closed

[2021-07-21 18:32] jhoolachan opened #153 "dbt run fails with "The specified schema name userid@domain either does not exist or you do not have permission to use it"
Hello,

When I create a schema manually, add it to my profiles.yml, and then submit "dbt run", my model is built successfully. However, if the schema specified in my profiles.yml does not exist, the build fails with:

`"The specified schema name 'userid@domain' either does not exist or you do not have permission to use it" "CREATE SCHEMA failed due to previous errors"
`
when active directory integ

[2021-07-21 19:42] swanderz commented on #153
@jhoolachan thanks for putting in the work to get this set up!

more info:
1. what MSFT SQL product are you using? SQL Server (on-prem or IaaS) or Azure SQL?
2. what does a redacted version of your `profiles.yml` look like? It kinda seems like you have your `user` and schema` fields switched.

Full disclosure: I've never personally gotten active directory integrated authentication to work, as my c

[2021-07-21 19:49] jhoolachan commented on #153
@swanderz

I'm using Azure SQL and my profiles.yml is below:

azure-sql-demo:
  target: dev
  outputs:
    dev:
      type: sqlserver
      driver: 'ODBC Driver 17 for SQL Server'
      server: {server}
      port: 1433
      database: {dbt}
      schema: staging
      authentication: ActiveDirectoryIntegrated
      encrypt: true

I also see the same issue when using service principal authenticati

[2021-07-21 19:54] swanderz commented on #153
weird! it might be that `'userid@domain'` or `client_id@tenant_id`aren't properly quoted?

I highly recommend the `cli` auth option, then get started after that.

p.s. if you're interested in getting started with dbt & Azure SQL, you might be interested in [this guide](https://github.com/dbt-msft/jaffle_shop_mssql/blob/dbt_crash_course/training.md) that @chaerinlee1 made.

[2021-07-21 20:39] jhoolachan commented on #153
The guide is great; thanks for that!

I was able to successfully connect via the CLI auth but I'm still facing the same error. My updated profile.yml is below.

[code]
The error is the same as when connecting via AAD Integrated:

`"The specified schema name 'userid@domain' either does not exist or you do not have permission to use it" "CREATE SCHEMA failed due to previous errors"`

[2021-07-21 20:44] swanderz commented on #153
1. is `userid@domain'` anywhere in your `profiles.yml`? I'm confused now.
2. when you call `dbt debug` does everything run ok?

[2021-07-21 20:49] jhoolachan commented on #153
1. Nope, neither my userid or company domain are present in the profiles.yml - but those are the credentials I use during authentication
2. dbt debug looks good

[code]

[2021-07-21 20:53] swanderz commented on #153
1. are you using the Azure SQL database that isn't `master`?
2. can you log-into the database using SSMS using the "MFA + interactive auth" option (the one the opens a browser pop up to login w/ your creds)
3. are you 100% confident that `userid@domain` doesn't show up anywhere in your dbt project folder?

[2021-07-21 21:02] jhoolachan commented on #153
1. Yes, my permissions don't even allow me to see `master`
2. I cannot. Per our cloud team, the only login we can use in SSMS is AAD - Integrated
3. Yes. It is a very basic project  with only a handful of sources and models

[2021-07-21 21:19] swanderz commented on #153
yes, I _think_ so, but let's have that discussion on the `tsql-utls` repo Issues page.

as for the main issue, now I'm rather stumped! if you DM me on the dbt Slack, I can give you test Azure SQL to play with (to see if the error persists).

Can you log into the db with SSMS, and execute `CREATE SCHEMA new_schema` without issue?

You might want to follow up with you cloud team's set up because in

[2021-07-21 21:20] swanderz commented on #153
another thing that would help is if you could go to the `logs/dbt.log` file and scroll down to the bottom where you're getting the error and share that here (or DM it to me) as a [Gist](gist.github.com/). I'd be interested to see what SQL statement was trying to execute when you got the error message that you did.

[2021-07-21 21:42] jhoolachan commented on #153
Ah! Running `CREATE SCHEMA new_schema` in SSMS fails with the same error. I forgot that I need to add use `CREATE SCHEMA new_schema AUTHORIZATION {DB user}` where {DB user} is the security group that my login has access through. The schemas I've been using were created a while back and the AUTHORIZATION piece slipped my mind.

Is schema creation handled by a particuar macro that I can modify to in

[2021-09-01 18:07] swanderz opened #156 "auto-refresh AAD token before the hour expiration"
to use `authentication=cli`, you need to first log into to Azure using the Azure CLI using some form of `az login`. However, the token given by Azure Active Directory (AAD) expires after an hour (3600 seconds). So, if your long-running `dbt run` command has models starting to be created (i.e. new transaction) after 3600 seconds, `dbt run` will fail with one of the following messages:
- `Login fail

[2021-09-01 18:49] JCZuurmond commented on #156
Always fun these kind of problems!

Apparently you can set a [policy](https://docs.microsoft.com/en-us/azure/active-directory/develop/configure-token-lifetimes) with the token life time, but not having a powershell does not make that straightforward.

Part of the problem is that we [cache the token indefinitely](https://github.com/dbt-msft/dbt-sqlserver/blob/f2a480689825ac1194e26e6dc6427c4b6308ca0

[2021-09-01 19:09] JCZuurmond commented on #156
The execute is in [our control](https://github.com/dbt-msft/dbt-sqlserver/blob/f2a480689825ac1194e26e6dc6427c4b6308ca02/dbt/adapters/sqlserver/connections.py#L366) and dbt does not do anything with long running queries -  it simply calls the `execute` method.

So, if there is **one** query that runs for more than a hour, for example the creation of a single data model, then changing the caching me

[2021-09-01 20:44] alieus commented on #156
In our case, It seems like we're faced with both scenarios:

- multiple queries (data models) run, but not all queries are started within the 1 hour mark. So some models start running after the 1hr mark.
- Some of these queries for a single data model run for over an hour.

So @JCZuurmond, in this case, based on your points above, It looks like improving the caching method wouldn't help.

[2021-09-01 23:24] swanderz commented on #156
@alieus  I think we can solve the first problem with token caching. The second isn't a really problem, right? As long as the transaction starts while the token is valid, it can go on for as long as it need AFAIK. The important part is to refresh the token when the expiry time to close before opening a new connection.

[2021-09-02 05:48] JCZuurmond commented on #156
Yes, we do not know exactly what will happen with such a long running query. Still I expect it is likely that it will not work as the `cursor.execute` wait for response, so there is no chance to refresh the token.

For the multiple queries scenario replace [this line](https://github.com/dbt-msft/dbt-sqlserver/blob/f2a480689825ac1194e26e6dc6427c4b6308ca02/dbt/adapters/sqlserver/connections.py#L200)

[2021-09-03 13:56] jtcohen6 opened #157 "Add adapter unique_field property"
Hey dbt-msft team!

To make a long story short: As dbt adoption grows, our current way of answering the question, "How many companies/orgs/teams are using dbt?" has not scaled well. Historically, we've just used an MD5 hash of the user-defined project name (`name` field in `dbt_project.yml`). We've found that there are hundreds (potentially thousands) of distinct dbt projects all named things like

[2021-09-03 18:29] swanderz commented on #157
@jtcohen6 totally understand the rationale.

### thoughts
maybe I'm nitpicking, but `account` for Snowflake seems to make more sense for identifying teams/orgs than `host` for dbt-sqlserver.

1. we often have dev stg prod servers for a single dbt project. Hashing the host for this scenario would result in 3 teams/orgs. Is that the granularity you're trying to collect?
2. We're also planning to hav

[2021-09-03 22:20] alieus commented on #157
@swanderz  I'm definitely with you on that `host` is not the perfect identifier for us.  A single `org`  (or even a single team) can have multiple unique `hosts` . If each of these `hosts` is counted as a unique company/org/team, that would definitely be inaccurate.

@swanderz  maybe I'm missing the point, but I don't see how concatenating `host` + `database` will solve this.

[2021-09-03 22:36] alieus commented on #156
@JCZuurmond  I experimented with commenting out [this line](https://github.com/dbt-msft/dbt-sqlserver/blob/5cebdaa9f8a40862db7769e43195e295743b13ba/dbt/adapters/sqlserver/connections.py#L283)  and that seems to solve the problem in both scenarios. Basically, don't even bother checking if we already have a token; for each new connection just create a new token.

So your solution above definitely se

[2021-09-06 15:48] JCZuurmond commented on #156
Great. @swanderz , according to git you added the "caching" mechanism, see blame of [this line](https://github.com/dbt-msft/dbt-sqlserver/blob/f2a480689825ac1194e26e6dc6427c4b6308ca02/dbt/adapters/sqlserver/connections.py#L210). Is the caching necessary? Can it not simply be removed?

[2021-09-08 23:40] swanderz commented on #156
resolved by #158

[2021-09-08 23:40] #156 closed

[2021-09-11 00:21] swanderz opened #161 "implement get_binding_char"
due to https://github.com/dbt-labs/dbt/pull/3623, we can now deprecate macros `sqlserver__basic_load_csv_rows()` and `sqlserver__load_csv_rows()` in favor of implementing the following. This will greatly reduce our code footprint for the adapter and let's us more easily take advantage of future updates to global_project's `default__load_csv_rows()`

[code]

[2021-09-15 13:53] w0ut0 commented on #153
We are having the same issue, but only when the AAD user is part of an AAD group, and is not the first user attempting this:

posted it on [stackoverflow](https://stackoverflow.com/questions/69193354/second-member-of-azure-ad-group-can-not-create-schema-in-azure-sql-database), can you confirm that you have the same setup @jhoolachan?

[2021-09-22 15:51] majidaldo commented on #119
i was looking for a 'timeout' to wait until a connection is established.

[2021-09-22 16:34] swanderz commented on #119
@majidaldo can you tell me more about what you're looking for with a `timeout`?

[2021-09-22 16:37] majidaldo commented on #119
On Azure SQL, you can have a db 'sleep'. It can take a few minutes to resume. In the meantime, connection attempts usually fail.

[2021-09-22 16:41] swanderz commented on #119
great point! this is something we've been thinking about w/ azure sql serverless as well. do you mind opening a separate issue for that scenario? I believe your ask is different than @infused-kim's.

[2021-09-22 16:52] majidaldo opened #162 "timeout connection option"
On Azure SQL, you can have a db 'sleep'. It can take a few minutes to resume. In the meantime, connection attempts usually fail.

To solve this, I suggest a 'timeout' option, such that (an overall) connection attempt is considered to have failed if it exceeds this timeout. (in addition to 'n_tries' and 'time_bw_tries').

[2021-09-23 06:59] w0ut0 commented on #153
This happens because the user can not be created implicitly. If you configured your database like me, and provided permission to an Azure AD group (and not the user themselves), `CREATE SCHEMA` is not able to implicitly create the user.

It seems documented in the `remarks` section [here](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-schema-transact-sql?view=sql-server-ver15#remarks

[2021-09-29 03:46] swanderz commented on #136
@owlas lmk if you're still experiencing this issue

[2021-09-29 03:47] #136 closed

[2021-09-30 15:25] swanderz commented on #152
@visch do you think this might be related to https://github.com/dbt-msft/dbt-synapse/issues/63? I almost wonder if there's an issue with `sqlserver__alter_column_type` not just `synapse__alter_column_type`.

[2021-09-30 15:33] swanderz commented on #101
resolved a few months ago

[2021-09-30 15:33] #101 closed

[2021-09-30 19:04] visch commented on #152
Dove in

https://github.com/dbt-labs/dbt/blob/develop/core/dbt/include/global_project/macros/adapters/common.sql#L163-L179

Seems to be where the SQL is coming from.

The sql for mssql
should be `   alter table "DBName"."extract"."COLUMNNAME " drop column "COLUMNNAME " on delete cascade;`

I'm not certain that you actually want to cascade on delete, but this seems to be the syntax issue.

It looks

[2021-09-30 19:06] visch commented on #152
short answer, yes :D

[2021-09-30 20:38] swanderz commented on #152
so looking at things. it seems the dbt-sqlserver is making use of the dbt-core's default__alter_column_type macro, which it shouldn't be. So the addition of `synapse__alter_column_type` in https://github.com/dbt-msft/dbt-synapse/pull/64, should really be added here as `sqlserver__alter_column_type` (which dbt-synapse will make use of no problem). @dlarsen5  does that make sense to you?

<img width

[2021-10-04 18:37] dlarsen5 commented on #152
@swanderz yep that makes sense, should I rename the macro and make a PR to [dbt-sqlserver](https://github.com/dbt-msft/dbt-sqlserver) instead?

[2021-10-04 19:44] swanderz commented on #152
that'd be great -- thanks @dlarsen5!

[2021-10-05 17:03] swanderz opened #163 "adopt dbt-postgres's method of"
copy the implementation introduced for dbt-postgres in https://github.com/dbt-labs/dbt/pull/3106/

[2021-10-08 05:30] davidclarance commented on #163
@swanderz this implementation is neat! could I work on this issue or is someone already working on it?

[2021-10-14 00:52] swanderz commented on #152
@dlarsen5 friendly bump. I hope to release dbt-sqlserver and dbt-synapse v0.21.0 soon. if you don't have a chance to do this in the next week, I'll just copy your logic from your old PR into this one.

[2021-10-14 18:22] swanderz opened #164 "type validation in `v0.21.0`: `'false'` is not of type: `boolean`"
in `v0.21.0` the strings `'true'` and `'false'` are no longer recognized as `boolean` types. Unfortunately there is no boolean type in TSQL, but there is a [bit type](https://docs.microsoft.com/en-us/sql/t-sql/data-types/bit-transact-sql?view=sql-server-ver15). @jtcohen6, any ideas for a workaround? I think we're blocked on releasing v0.21.0 until we figure something out. I tried integers and they

[2021-10-14 18:25] dataders opened #165 "allow test defs that have CTEs (including those in dbt-core)"
given the recent refactor of test in https://github.com/dbt-labs/dbt-core/pull/3261/ for v0.20.0, nested CTE definitions happened. For dbt-sqlserver users, this broke even ootb tests like `accepted_values`.

rather than having nested CTEs (unsupported in TSQL), #137 proposes a solution of using temp tables to for the error results, then select from the temp table result.

[2021-10-14 18:27] dataders opened #166 "support Ephemeral models"
from #137, here's the proposed solution

[2021-10-14 18:27] #137 closed

[2021-10-14 22:30] jtcohen6 commented on #164
Oh no! This was an unintended side effect of turning off agate type coercion for query results, an otherwise uncontroversially good thing.

Hmmm. It does sound like the [bit type](https://docs.microsoft.com/en-us/sql/t-sql/data-types/bit-transact-sql?view=sql-server-ver15) is what we're after, doesn't it? And we've got an `agate` table being returned here, and a [`convert_boolean-type`](https://gi

[2021-10-16 18:43] swanderz commented on #152
Thanks @dlarsen5! I'll test it myself next week.
Closing in favor of https://github.com/dbt-msft/dbt-sqlserver/pull/169

[2021-10-22 20:41] zairiedu opened #170 "object.__init__() takes exactly one argument (the instance to initialize)"
Hi Everyone,
I installed these versions:
dbt:  0.20.0
dbt-sqlserver: 0.20.0
I'm using Windows 10 Enterprise, trying to connect to SQL server 2019.

**Sorry I need to hide some values for the sake of security.**

these are my profile parameters:

[code]

when using the "dbt debug" command I get this output:

[code]

any idea how that can be resolved ?

[2021-10-23 06:01] #170 closed, assigned to alieus

[2021-11-05 19:57] #152 closed

[2021-11-05 21:06] dataders opened #171 "remove extra `__init__.py`'s from `dbt/include` and `dbt/adapters`"
They aren't needed, provided that the package imports are working correctly. It's save a lot of clicking to not have to open these directories as vscode will auto expand singleton directories. see below

## current behavior
<img width="158" alt="image" src="https://user-images.githubusercontent.com/8158673/140578205-c89b5a4c-360b-43d6-af04-7860cfb2d8b8.png">

## desired behavior

<img width="213"

[2021-11-10 19:19] sergey-vdovin opened #177 "add `sqlserver__alter_relation_add_remove_columns()`"
missing implementation for alter_relation_add_remove_columns macro in 0.21.0rc1

https://github.com/dbt-labs/dbt-core/blob/8442fb66a591c4f5353f8baaaaf62f846c5f5171/core/dbt/include/global_project/macros/adapters/columns.sql

leads to incompatible with t-sql default statement generation "alter table xxx add column" when trying to use "append_new_columns" option for incremental models

[2021-11-10 22:16] sdebruyn commented on #162
This might seem an easy one, but it isn't. The issue here is that from the side of the adapter, there is no way of knowing if the (serverless) database is in paused mode or not. The only way you can determine the paused state of the database is by looking at the Azure Portal.

When you try to connect to a paused database, you just get an error saying that your credentials are invalid. So if we get

[2021-11-11 06:27] dataders opened #179 "make `calc_batch_size` compatible with `default__load_csv_rows`"
https://github.com/dbt-labs/dbt-core/pull/3623 (released as part of dbt-core `v0.21.0`) allowed adapters like dbt-sqlserver to not have to re-implement `default__load_csv_rows()` because the only difference between dbt-sqlserver's and core's global_project was the binding parameter character: `?`, and `%s` respectively.

What I had forgotten about was @jacobm001's `calc_batch_size` which doesn't r

[2021-11-11 17:52] swanderz commented on #177
thanks for identifying! can you tell me how this macro needs to be changed? or would be willing to open a pull request for this?

[2021-11-11 20:15] sergey-vdovin commented on #177
at first glance looks as simple as removing  "column" from "add column" but needs to be tested carefully: the second point in our discussion on slack  was a bit more spooky:

https://getdbt.slack.com/archives/CMRMDDQ9W/p1636568890048600?thread_ts=1636568890.048600&cid=CMRMDDQ9W
for 0.21:
apparently there are some problems with "append_new_columns"  https://docs.getdbt.com/docs/building-a-dbt-proje

[2021-11-12 16:35] jacobm001 commented on #179
Should be a pretty easy thing to migrate into the typical dbt macros. It'll probably be a couple days before I can get to it, but I can get that done.

[2021-11-17 05:12] annajb opened #180 "connecting to sql server on docker container with driver issues"
I apologize ahead of time for probably describing this terribly, but I'm not sure if what I want to do is even possible.

I wanted to setup a local playground for learning dbt. I didn't want to pay for a cloud warehouse service, so I thought one of my better options would be to setup SQL Server in a docker container (MacOS) and then just setup my dbt profile to link to it. I felt like this would b

[2021-11-17 07:15] mikaelene commented on #180
Looks like ODBC error.

I think DBeaver uses jdbc and don know about sql-cli but dbt-sqlserver uses ODBC. Is ODBC installed on your Mac? It can be quite a mess to install ODBC on Mac but below seems to be a good solution.

https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/install-microsoft-odbc-driver-sql-server-macos?view=sql-server-ver15

[2021-11-18 01:41] mahazza commented on #134
I had a need for this feature using MS_Description.  A few of our tools use it as default to pull out descriptions such as redgate tools, azure purview and I assume a few others.  It may be useful to make MS_Description configurable if there is a need. I've attached what is working for us...

`
{% macro sqlserver__alter_column_comment(relation, column_dict) -%}
    {%- set existing_columns = adapt

[2021-11-18 03:50] swanderz commented on #134
this is awesome! can you tell me more about what "working for us"  means? i.e. Purview/redgate can pull out column descriptions no problem? Way cool!

[2021-11-18 04:18] mahazza commented on #134
With Redgate Sql Prompt, it will display MS_Description in the tooltip.  Redgate Sql Doc also pulls it as the main description.  I know the SSMS designer uses it too for MS_Descriptions on columns, but I don't know anybody who actually uses the designer in SSMS! I asked my colleague about azure purview and it needed some work apparently to get it to take in MS_Description, so I don't think this st

[2021-11-18 06:22] annajb commented on #180
I actually did follow that page/instructions (at least I tried to). But I just don't think the driver is configured properly. I really don't know a lot about drivers. Feels like I just google problems and then see what people did, give it a try, and then dig myself into a deeper hole cause I have no idea what I even did. Like I can't even tell how to utilize iODBC or manager tools or configure tho

[2021-11-29 06:22] dbrtly-ofx commented on #180
I'm stuck on the same problem. I tried:
* delete the line about "ActiveDirectoryPassword" ## this is sql authentication we're trying to use.
* change to "server: '0.0.0.0' "

I installed the Microsoft tools from here:
https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-tools?view=sql-server-ver15#macos
Can connect from Azure Data Studio.

I dunno. 🤷

[2021-11-29 21:39] semcha commented on #163
Hi @swanderz!
Do I understand correctly that we need to implement this macro for SQL Server and name it `sqlserver__get_create_index_sql`?
https://github.com/dbt-labs/dbt-core/pull/3106/files#diff-49fbdf0ee41b3d9ec139a881dfed1e9196c47ba014f946421f636bbf57703a6c

[2021-11-29 22:41] semcha opened #185 "Release version mismatch"
@swanderz
pypi: https://pypi.org/project/dbt-sqlserver/#history - dbt-sqlserver==**0.21.0**
Release page: https://github.com/dbt-msft/dbt-sqlserver/releases/tag/v0.21.1 - **0.21.1**

[2021-11-29 22:53] swanderz commented on #185
@semcha great catch -- thanks! I made a typo on the GitHub release and have since [corrected it](https://github.com/dbt-msft/dbt-sqlserver/releases/tag/v0.21.0). that'll teach me to publish releases while I'm in a meeting... 😵

[2021-11-29 22:53] #185 closed

[2021-11-29 23:03] swanderz commented on #163
yep! additionally we're need a `SQLServerIndexConfig` for the index definition json. For another example check out [dbt-firebolt's FireboltIndexConfig](https://github.com/firebolt-db/dbt-firebolt/blob/4f97ca73b0585ba8b0103c2838ad25f37c2ad7cb/dbt/adapters/firebolt/impl.py#L19-L85)

[2021-11-30 16:45] oscar-konig opened #186 "Snapshotting with schema changes doesn't work"
When snapshotting a table after a schema change I get
`('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'column'. (156) (SQLExecDirectW)")`
The table is created by a simple model:
[code]

and snapshot:
[code]
I run `dbt run` followed by `dbt snapshot` to create the snapshot. Then uncomment the commented row in the original table model to mo

[2021-11-30 17:33] dataders opened #187 "move setup and configuration docs out of README.md and into docs.getdbt.com's docs"
Other adapters (e.g. [dbt-spark](https://github.com/dbt-labs/dbt-spark)) have adopted a single-source-of-truth approach to documentation, prefering to document setup and configuration information only on the docs.getdbt website, rather than duplicating it on the docs page and the adapter repo's readme.

I think we should do the same.

[2021-11-30 19:45] dataders opened #189 "fix CircleCI connection tests for Service Principals..."
@sdebruyn maybe you can help me with this? I may need to make new AAD apps and make the env vars available to circleci first?

two different failures happening:

## AZ SP auto
https://app.circleci.com/pipelines/github/dbt-msft/dbt-sqlserver/449/workflows/f83ea477-e779-45ac-befd-d1e0eecf1c78/jobs/1710

## AZ SP env
https://app.circleci.com/pipelines/github/dbt-msft/dbt-sqlserver/450/workflows/fedba

[2021-11-30 19:49] swanderz commented on #186
@oscar-konig thanks for reporting this and double thanks for the reproducible example! This helped @alieus and I resolve the issue very quickly. The fix was that the below macro was missing. dbt's default version of this macro
default__ macro uses "add column" but TSQL prefers just "add".

[code]

[2021-11-30 19:59] swanderz commented on #104
consolidating to #186. @dubravcik #188 fixes your issue officially, and it will be released as part of dbt-sqlserver 0.21.1!

[2021-11-30 19:59] #104 closed

[2021-11-30 20:00] swanderz commented on #90
closing for now. @alittlesliceoftom feel free to re-open if you ever would like to revisit!

[2021-11-30 20:00] #90 closed

[2021-11-30 20:01] swanderz commented on #26
fixed by #167!

[2021-11-30 20:01] #26 closed

[2021-11-30 20:02] swanderz commented on #25
closed by #116, but related to #163

[2021-11-30 20:02] #25 closed

[2021-11-30 20:02] swanderz commented on #172
close by #167

[2021-11-30 20:02] #172 closed

[2021-11-30 20:03] swanderz commented on #157
close via #168

[2021-11-30 20:03] #157 closed

[2021-11-30 20:03] swanderz commented on #161
closed via #168

[2021-11-30 20:03] #161 closed

[2021-11-30 20:04] swanderz commented on #109
closing in favor of #134

[2021-11-30 20:04] #109 closed

[2021-11-30 20:04] swanderz commented on #164
closed by #168

[2021-11-30 20:04] #164 closed

[2021-11-30 20:45] #177 closed

[2021-12-12 20:04] erindru commented on #119
+1 for this, it can also happen in shonky network environments that you have no control over.

We have somewhat dodgy UDP traffic management in a Kubernetes cluster running on AWS, sometimes it takes a couple of retries in order to resolve the DNS name for the database. The ops team don't see an issue because UDP is not meant to be reliable and container workloads should be adaptable

The result i

[2021-12-12 21:30] majidaldo commented on #119
https://github.com/dbt-msft/dbt-sqlserver/issues/162

[2021-12-18 20:25] semcha commented on #163
Working on that issue here: https://github.com/semcha/dbt-sqlserver/commits/new-indexes

[2021-12-20 14:27] RiviqVH opened #192 "Cannot authenticate with CLI from VSCode devcontainer"
I'm having an issue where I can't authenticate to an Azure SQL database using CLI authentication, most simlar to #99 (and somewhat similar to #82). Running on `dbt == 0.21.1` and `dbt-sqlserver == 0.21.1`.

Main difference to above issues is that I am trying to connect from inside a VSCode devcontainer, which is a local Dockerfile based on [this one](https://github.com/microsoft/vscode-dev-contain

[2021-12-20 14:53] RiviqVH commented on #192
Nevermind, I missed a very obvious thing in Azure: my default subscription was not set correctly. Could've sworn I checked that _before_ posting this issue, but apparently I wasn't thorough enough.

[2021-12-20 14:53] #192 closed

[2021-12-22 09:30] TatianaLinnik opened #193 "unsupported lower case information_schema"
I am trying to run dbt, but getting this error:
`Encountered an error: Database Error ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid object name 'WALRUS.information_schema.tables'`
Our SQLServer is case sensitive, so `information_schema.tables` doesn't exist (I double-checked by querying my database directly), but `INFORMATION_SCHEMA.TABLES` exists. Upper case inf

[2021-12-22 10:11] TatianaLinnik commented on #193
As I can see here https://github.com/dbt-msft/dbt-sqlserver/blob/aa0422f6467af6041562380efb7bdebbbc6bddd8/dbt/include/sqlserver/macros/adapters.sql you use everywhere Upper case `INFORMATION_SCHEMA.TABLES` except the macro `sqlserver__list_relations_without_caching(schema_relation)`. I can PR this little change.

[2021-12-22 21:21] swanderz commented on #193
we'd love the PR, thanks @TatianaLinnik!

[2021-12-22 22:48] TrololoLi commented on #193
I created PR, but one of the tests didn't pass due to the `('HYT00', '[HYT00] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0) (SQLDriverConnect)')`. I also couldn't link the PR to this issue

[2021-12-23 04:00] deanja opened #195 "Deadlocks on target server when more than 1 dbt thread"
# Expected Behaviour

dbt can run many tests in parallel without causing database deadlocks.
dbt can query information_schema and do DDL on separate threads without deadlocks.

# Actual Behaviour

Intermittent deadlocks.  So far only observed on `dbt build` (with tests) and `dbt test`.

[code]
An example deadlock log, showing implicated queries/ddl,  is pasted at the end of this issue.

# Steps to

[2021-12-23 07:27] infused-kim opened #196 "dbt test failing on Azure SQL without columnstore supported service tier"
Hi,

I just upgraded from dbt 0.19.0 to dbt-core 1.0.0 and dbt-sqlserver 1.0.0.

Most things seemed to work well, but then I tried to run `dbt test` on a DB that was on the S0 Azure SQL service tier, which doesn't support columnstore indexes (which are supported on S3 and higher).

Even though my tables were built without columnstore indexes, I was getting the following error:

[code]

In [a previ

[2021-12-23 07:29] infused-kim commented on #21
Sorry for the late reply, I completely forgot about this issue and ended up disabling columnstore indexes on each model at the time.

But I just tested it and it's working.

In addition to that, people who are using DBs without columnstore indexes, should also disable columnstore indexes on tests:
[code]

[2021-12-30 13:03] TrololoLi commented on #193
error is gone=)

[2022-01-20 18:33] Elliot2718 commented on #196
@infused-kim  thank you for posting this as I ran into this issue after upgrading to dbt-core 0.21.1 and adding this configuration worked:
[code]

And I would agree that it is likely unneeded to have columnstore indexes on tables in the `dbt_test_audit` schemas.

[2022-01-23 16:13] semcha commented on #134
@mahazza Thank you for sharing that code!

[2022-01-28 07:31] mikaelene commented on #195
Maybe this should be optional? Perhaps set in profiles.yml.

[2022-01-28 14:22] vvvito opened #205 "dbt found two macros named "drop_xml_indexes" in the project "dbt_sqlserver""
Recently upgraded to dbt **v1.0.1** and getting an issue in my CI/CD pipeline for `dbt docs generate`.

Freshly installed the new dbt-core project just by running `pip install dbt-sqlserver` as per [installation instructions](<https://docs.getdbt.com/docs/available-adapters#community-supported>).
When I connect to my MSSQL DB locally (`windows_login: True`) and run `dbt docs generate --profiles-di

[2022-01-28 20:40] ijdev opened #206 "when dbt-run twice with config martialized table it does not overwrite the table"
Hi

I think I'm having an issue with dbt-sqlsever.

When I run `dbt run` the table gets created with no issue when I do `dbt run` again it breaks !

When ever I do `dbt run` for the second time I get a compilation error:

[code]
Using:
[code]

I've been at it for hours I can't why is this happening.
Thanks.

[2022-01-28 22:18] #206 closed

[2022-01-28 22:18] ijdev commented on #206
Database name in the profiles file must match the db name in the database server.

[2022-01-30 08:28] vvvito commented on #205
# Resolved 🌟
Managed to resolve this issue by completely clearing my python environment and reinstalling dbt-sqlserver from a fresh python install.

I believe there might have been some conflicting dbt libraries (e.g. dbt v0.18 and dbt v1.0) included in the python environment causing this issue.

[2022-01-30 08:28] #205 closed

[2022-02-17 15:29] rlshuhart opened #208 "Snapshot - macro 'dbt_macro__create_schema' takes not more than 1 argument(s)"
Hi trying out snapshots on SQL Server 2017 and I'm running into an odd issues that I can't make out what is going on. Apologies if this is stackoverflow territory, but this seems simple enough that there might be a bug. I have a fresh virtual environment with the packages listed below at the end.

Using this table as my test (models\test.sql)
[code]

and then trying this snapshot (snapshots\test.s

[2022-02-17 17:06] rlshuhart commented on #208
I found a work-around. If I delete the certain lines below from what I think comes from the dependency install of dbt-core, I am able to run snapshot successfully. Perhaps this is a dbt-core issue?

https://github.com/dbt-labs/dbt-core/blob/3ad61d5d810aab8bf7bf7bc38f62d02348839c80/core/dbt/include/global_project/macros/materializations/snapshots/snapshot.sql#L9-L11

[2022-02-23 14:33] mikaelene commented on #208
Hi,

Did you specify target_schema somewhere?

/Mikael

[2022-02-23 14:35] mikaelene commented on #208
https://docs.getdbt.com/docs/building-a-dbt-project/snapshots#snapshot-configurations

[2022-02-23 15:02] rlshuhart commented on #208
I had target_schema specified in the dbt_project.yml. Using the work-around I mentioned above, the snapshots did land in the schema specified on the dbt_project.yml. I just tried adding the target_schema specification into the config of the snapshot model and resulted in the same error.

[2022-02-25 23:29] rlshuhart opened #210 "Incorrect parameter for number of columns used in seed batch size"
https://github.com/dbt-msft/dbt-sqlserver/blob/3d202ea4172e06233f654667ae92ab4851bcae88/dbt/include/sqlserver/macros/materializations/seeds/helpers.sql#L62-L63

Hi!

I've noticed that in the above `cols_sql|length` is not actually returning the number of columns. I'm not entirely sure what number is returning, but it is a far larger number, therefore, causing seeds to insert one row at a time for

[2022-02-26 01:47] paulcoates opened #212 "Case sensitive collation - Invalid object name DB_Name.information_schema.tables"
### Discussed in https://github.com/dbt-msft/dbt-sqlserver/discussions/183

There is an inconsistency in the below file that causes an error when the server collation is case sensitive (see linked discussion for error).

 https://github.com/dbt-msft/dbt-sqlserver/blob/3d202ea4172e06233f654667ae92ab4851bcae88/dbt/include/sqlserver/macros/adapters/metadata.sql#L86

It would appear that a few instanc

[2022-04-04 14:25] rlshuhart commented on #208
Hi @mikaelene, Indeed this appears to be a dbt-core issue. @jtcohen6 has researched that above lines in dbt-core are unnecessary and will be removed via https://github.com/dbt-labs/dbt-core/pull/4993

[2022-04-04 14:25] #208 closed

[2022-04-13 10:31] Freia3 opened #213 "dbt test fails because of space in source name"
After upgrading dbt from 0.20.1 to 0.21.0, dbt test fails because of spaces (and dot) present in the source name:

source.yml:
[code]
Error message after running `dbt test`:
16 of 184 ERROR source_not_null_OMOP CDM v5.4_cdm_source_cdm_version_concept_id [ERROR in 0.84s]
Database Error in test source_not_null_OMOP CDM v5.4_cdm_source_cdm_version_concept_id (sources/source.yml)
  ('42000', "[42000]

[2022-04-21 04:00] xg1990 opened #217 "Bug in incremental model: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'column'. (156) (SQLExecDirectW)")"
The following query failed when the source table has a column removed

[code]

The full error message is

Same error for `on_schema_change = "append_new_columns",`

and if I use

[code]

I'll get this error message:

[2022-04-25 18:31] SportsTribution commented on #195
Isn’t part of the problems with the temporary creation of tables in Test that different tests create the same temporary table? That’s how I read the get_relation part of it

[2022-04-28 23:12] nikmartin opened #218 "dbt-core dependency update"
dbt-core is now 1.1.0, and is incompatible with dbt-sqlserver

[code]

[2022-05-03 15:02] ogaly-absys opened #219 ">Database Error ('08001', '[08001] [Microsoft][ODBC Driver 18 for SQL Server]SSL Provider: [error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed:self signed certificate] (-1) (SQLDriverConnect)')"
Hi, I have an error with dbt debug and with the ODBC Driver 18 for SQL Server in my profiles file.
It'think the driver is configured by default with "TrustServerCertificate=Yes"
it's resolved when i changed the driver to ODBC Driver 17.

[2022-05-03 17:03] dataders commented on #219
great callout! I remember reading somewhere that there's a new option you must pass into the connection string for version 18 of the driver like `Something=True`, and now I can't find the doc anywhere! I'll update later when I find it

[2022-05-22 10:25] sdebruyn commented on #72
Pre-commit config was added, follows style similar to dbt-core

[2022-05-22 10:25] #72 closed

[2022-05-22 10:48] #193 closed

[2022-05-22 11:42] sdebruyn commented on #189
they are working now :)

[2022-05-22 11:42] #189 closed

[2022-05-22 12:26] sdebruyn commented on #131
Looks like a good time to implement this together with #216

[2022-05-25 21:01] dataders opened #233 "ignore formatting commits for more useful `git blame`"
see [Ignore commits in blame view](https://docs.github.com/en/repositories/working-with-files/using-files/viewing-a-file#ignore-commits-in-the-blame-view) this will be helpful for ignoring formatting changes like in #228

[2022-06-01 14:44] nysthee opened #236 "character_maximum_length"
Hi

I am not able to ouput the `character_maximum_length` from columns coming from `get_columns_in_relation`. Does anyone know what could be the cause of this?

[2022-06-02 20:20] sdebruyn commented on #236
Hi @nysthee

Could you provide the output of `dbt --version`?

[2022-06-02 20:21] sdebruyn commented on #218
a pre-release with support for 1.1.0 is out
https://pypi.org/project/dbt-sqlserver/1.1.0rc1/

Test it out and let us know how it works!

[2022-06-02 20:21] #218 closed

[2022-06-02 20:25] sdebruyn commented on #180
We use that Docker image in our integration tests now and it seems to work. Also tried to reproduce this on my Mac, but this works me.

Hit me up on the dbt Slack and we'll figure it out together :)

[2022-06-02 20:25] #180 closed

[2022-06-02 20:26] sdebruyn commented on #131
The integration tests have been refactored to the new dbt adapter test package and are all triggered with tox now

[2022-06-02 20:26] #131 closed

[2022-06-03 00:00] johnnytang24 opened #241 "Incremental does not work with unique_key that is array"
Example model:

    {{
      config
      (
        materialized='incremental'
        , unique_key=['A', 'B']
      )
    }}
    WITH CTE AS
    (
      SELECT 1 AS A, 2 AS B
      UNION
      SELECT 3 AS A, 4 AS B
    )
    SELECT
      A
      , B
    FROM
      CTE

Error:  ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near 'using'. (102) (SQLExecDir

[2022-06-03 00:56] johnnytang24 commented on #241
This fixes it:

File: dbt/include/sqlserver/macros/materializations/models/incremental/merge.sql

    {% macro sqlserver__get_delete_insert_merge_sql(target, source, unique_key, dest_columns) %}

        {%- set dest_cols_csv = get_quoted_csv(dest_columns | map(attribute="name")) -%}

        {% if unique_key %}
            {% if unique_key is sequence and unique_key is not string %}

[2022-06-03 08:01] nysthee commented on #236
dbt --version
08:01:07  Encountered an error:
Could not parse version "1.1.0.rc1"

[2022-06-03 08:03] nysthee commented on #236
Same behaviour on 1.0.0 and 1.1.0.rc1.

[2022-06-03 08:24] sdebruyn commented on #236
Alright, at least it does not impact the next release then. Could you share a little bit of code to reproduce this?

[2022-06-03 08:58] #236 closed

[2022-06-03 21:28] sdebruyn commented on #241
@johnnytang24 Thanks for immediately providing us with the fix! Could you quickly also give me the output of `dbt --version`? Thanks1

[2022-06-04 00:57] johnnytang24 commented on #241
Core:
      - installed: 1.1.0

[2022-06-05 04:06] rezasoltanirezvandeh opened #246 "Incremental Strategy "Merge" is generating Delete, Insert into command"
Merge strategy in incremental, generates delete and insert into command instead of the merge.

`
{{
    config(
        as_columnstore= false,
        materialized= 'incremental',
        incremental_strategy= 'Merge',
        unique_key='customer_code'
    )
}}
SELECT
customer_code, customer_name
FROM {{ref('customer')}}
`

**The run script:**
`
    delete from "......."."dim_customer"
    where

[2022-06-05 16:40] dataders commented on #246
thanks for the bug report @rezasoltanirezvandeh ! can you share what version of dbt-sqlserver you are using as well as what SQL Server product you are using? Cheers

[2022-06-05 16:41] dataders opened #247 "Make Issue template for this repo"
make a template that at minimum requires that users share:
- their `dbt-sqlserver` version,
- the database product they are using (e.g. SQL Server 2012, Azure SQL)
- the relevant excerpt of their `log/dbt.log`

[2022-06-05 23:26] rezasoltanirezvandeh commented on #246
Hi @dataders,

here are the details:

_(base) reza@dbt:~/Desktop$ dbt --version
installed version: 1.0.7
   latest version: 1.1.0
Your version of dbt is out of date! You can find instructions for upgrading here:
https://docs.getdbt.com/docs/installation
Plugins:
  - sqlserver: 1.0.0 - Up to date!
(base) reza@dbt:~/Desktop$_

and I am using Azure SQL Database.
Cheers,
Reza

[2022-06-06 13:44] sdebruyn commented on #241
While going through the dbt docs, I could not find any documented behaviour where you can use an array as the unique key. All examples point to SQL columns or expressions. The `unique_key` for incremental models is not properly documented, but you can find the same property for snapshot configurations: https://docs.getdbt.com/reference/resource-configs/unique_key

There it says you can use an expr

[2022-06-06 20:53] sdebruyn commented on #241
@johnnytang24 Fix is ready in pr #251, care to review?

[2022-06-07 02:19] johnnytang24 commented on #241
Looks good!

[2022-06-07 21:11] #241 closed

[2022-06-07 21:50] #213 closed

[2022-06-08 13:33] baldwicc opened #253 "Cannot use `dbt source freshness` with DATETIMEOFFSET column types"
Running into issues with [`dbt source freshness`](https://docs.getdbt.com/reference/resource-properties/freshness) pointing at DATETIMEOFFSET columns, with pyodbc throwing the following error:

[code]

Directly relates to https://github.com/mkleehammer/pyodbc/issues/134

[2022-06-09 11:20] baldwicc commented on #253
A much simpler and less invasive solution to this specific issue would be to cast the issue away as per [freshness#loaded_at_field](https://docs.getdbt.com/reference/resource-properties/freshness#loaded_at_field) in the docs e.g.

[code]

[2022-06-09 22:12] hernanparra commented on #246
Same problem here on SQL Server 2017 with dbt 1.0.4 and sqlserver 1.0.0

[2022-06-23 06:36] vishalkhondre opened #259 "support for offline install"
I'm trying to install package on machine where internet is restricted.

I'm following below link to install dbt-sqlserver however so far no luck!
https://stackoverflow.com/questions/36725843/installing-python-packages-without-internet-and-using-source-code-as-tar-gz-and

I performed below steps on machine where I've internet access
mkdir dbtsql
pip download dbt-sqlserver -d "/home/test/dbtsql"
tar

[2022-06-23 15:49] dataders commented on #259
@vishalkhondre you're almost there I think! Kudos to getting as far as you have, I've been using pip and python for 5 years and I think I'd struggle to make this happen without help.

I'm thinking the last thing that you need to do is call the below. At the risk of mansplaining, the command tells pip to install the package specified by `setup.py` in the directory given. So the `.` means the `dbtsq

[2022-06-26 15:56] hermandr opened #260 "Incremental materialisation with sql server generates error"
### Incremental model created
[code]

### `dbt snapshot` generates error:
[code]

### Version info
[code]

[2022-06-27 01:56] hernanparra commented on #260
Incremental materializarion has no relation to snapshots. They are different types of models. That's why snapshots use another directory.

[2022-06-27 04:26] hermandr commented on #260
Sorry I am a newbie.  I will close this and open a new issue.

[2022-06-27 04:26] #260 closed

[2022-06-27 06:09] hermandr opened #261 "Incremental model generates error in sql-server"
This is my model.
[code]
dbt run with full refresh works as expected.

Subsequent dbt run generates error:
[code]

Dbt version
[code]

[2022-06-29 13:29] yduan-polo commented on #119
We've seen some intermittent database connection error with Redshift, something like

  connection to server at "<redshift cluster domain name>" (172.16.19.36), port 5439 failed: timeout expired

If there is way to configure retry for a specified times, that would be great!

[2022-06-29 16:51] jtcohen6 commented on #119
I think we've got one for just the thing: https://github.com/dbt-labs/dbt-redshift/issues/96

(though the fix would more likely come in https://github.com/dbt-labs/dbt-core/issues/5022)

[2022-07-07 12:04] rtooker opened #263 "any_value not supported - dbt-utils comatibility"
dbt-utils appears to expect support for ANY_VALUE - https://docs.microsoft.com/en-us/u-sql/functions/aggregate/any-value

[code]

without this, dbt-utils can't be used.

[code]

[2022-07-07 18:19] #187 closed

[2022-07-07 18:50] sdebruyn opened #264 "Test for sources with space in name failing"
The current test for sources with spaces in their names is failing: `tox -e py39 -- -v tests/functional/adapter/test_sources.py`

[2022-07-12 20:09] dataders opened #268 "upgrade to dbt-core 1.2.0!"
We've just published the release cut of dbt-core 1.2.0, `dbt-core 1.2.0rc1` ([PyPI](https://pypi.org/project/dbt-core/1.2.0rc1/) | [GitHub release notes](https://github.com/dbt-labs/dbt-core/releases/tag/v1.2.0rc1)).

https://github.com/dbt-labs/dbt-core/discussions/5468 is an open discussion with more detailed information, and https://github.com/dbt-labs/dbt-core/issues/5474 is for keeping track

[2022-07-12 21:55] nsaintgeours opened #269 "Encrypt=No seems to be required in connection string"
Hello,

I am trying to run `dbt debug` on a MS SQL server that I have few information about.
Here is the Dbt profile I use (host and password hidden):

[code]

When running `dbt debug`, I get this error:

[code]

## Possible solution?

I was able to get `dbt debug` working fine by just adding two lines in `connections.py`, line 353, as follows:

[code]

When I run `dbt debug`, I now get:

[code]

[2022-07-14 19:33] dataders opened #270 "upgrade to support dbt-core v1.2.0"
We've just published the release cut of dbt-core 1.2.0, `dbt-core 1.2.0rc1` ([PyPI](https://pypi.org/project/dbt-core/1.2.0rc1/) | [GitHub release notes](https://github.com/dbt-labs/dbt-core/releases/tag/v1.2.0rc1)).

https://github.com/dbt-labs/dbt-core/discussions/5468 is an open discussion with more detailed information, and https://github.com/dbt-labs/dbt-core/issues/5474 is for keeping track

[2022-07-14 19:35] dataders opened #271 "upgrade to support dbt-core v1.2.0"
We've just published the release cut of dbt-core 1.2.0, `dbt-core 1.2.0rc1` ([PyPI](https://pypi.org/project/dbt-core/1.2.0rc1/) | [GitHub release notes](https://github.com/dbt-labs/dbt-core/releases/tag/v1.2.0rc1)).

https://github.com/dbt-labs/dbt-core/discussions/5468 is an open discussion with more detailed information, and https://github.com/dbt-labs/dbt-core/issues/5474 is for keeping track

[2022-07-14 19:38] dataders opened #272 "upgrade to support dbt-core v1.2.0"
We've just published the release cut of dbt-core 1.2.0, `dbt-core 1.2.0rc1` ([PyPI](https://pypi.org/project/dbt-core/1.2.0rc1/) | [GitHub release notes](https://github.com/dbt-labs/dbt-core/releases/tag/v1.2.0rc1)).

https://github.com/dbt-labs/dbt-core/discussions/5468 is an open discussion with more detailed information, and https://github.com/dbt-labs/dbt-core/issues/5474 is for keeping track

[2022-07-21 18:50] #270 closed

[2022-07-21 18:50] #271 closed

[2022-07-21 19:01] #268 closed

[2022-07-25 07:28] vishalkhondre commented on #259
@dataders - Thank you so much for your response! I tried everything :-) no luck!

- https://stackoverflow.com/questions/36725843/installing-python-packages-without-internet-and-using-source-code-as-tar-gz-and
- https://stackoverflow.com/questions/43314517/how-to-install-multiple-whl-files-in-cmd/43314623#43314623

I'm giving up with offline installation :-)

[2022-07-29 20:42] dataders commented on #259
@vishalkhondre sorry to hear that! I appreciate your perseverance.

[2022-07-29 20:42] #259 closed

[2022-08-22 07:35] nysthee commented on #119
We've been encountering regular transient network issues as well which would be solved by a retry.
Are there any plans to support this as a profile parameter (like in Postgres / redshift) or not?

[2022-08-23 14:56] dataders commented on #119
we could! can you share the error messages you're seeing, as well as the SQL Server product that you're using (on-prem, Azure SQL, etc)

[2022-08-23 14:59] nysthee commented on #119
Hi
This is azure sql.

`Encountered an error while running operation: Database Error 123 ('28000', "[28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user ''. (18456) (SQLDriverConnect)")`

[2022-08-25 18:14] dataders commented on #119
are you using serverless Azure SQL that auto-pauses? while frustrating, this is behavior & message we expect to see. Normally, ~30-60s later the database is resumed and the error message goes away.

Would you like for dbt to retry a connection every few seconds until the error is resumed. Also, if you do for example have the wrong password, would you like dbt to assume that the error is transient

[2022-08-25 20:37] nysthee commented on #119
Hi

No we are not using the auto pause variant.

I think more something try x amount of times and then fail anyway in case
of a non transient error. I believe the error code coming back from sql
server should specify the kind of error that gets returned maybe that could
narrow the cases were a retry would be even useful?

On 25 August 2022 at 20:14:22, Anders ***@***.***) wrote:

- - -
Thomas
+32

[2022-08-30 07:08] SvenRelijveld1995 opened #279 "dbt test runs into internal error"
When excecuting dbt test on the dbt-sqlserver adapter, the dbt test command runs into an error: dbt internally failed to execute test.temp.not_null_my_first_dbt_model_id.5fb22c2710: Returned 0 rows, but expected 1 row.

This already happens on a greenfield dbt installation (version 1.1.0, latest version compatiable with sql-server.)'

Expected Behavior
dbt test should output a more descriptive err

[2022-08-30 08:47] DVAlexHiggs commented on #272
Hi any progress on this?

[2022-08-30 16:32] AkhilGNair opened #280 "Segmentation fault when using CLI auth"
In a clean venv I have run `pip install dbt-sqlserver`.

When running `dbt debug` with a basic `profiles.yml`,

[code]

I was hitting the following error

[code]

This was pretty tricky to debug. Eventually I found an issue pointing to a problem in `pyodbc`: https://github.com/mkleehammer/pyodbc/issues/1081

Turns out all my problems went away after using this line to install `dbt-sqlserver` inste

[2022-08-30 16:33] #280 closed

[2022-09-01 13:01] rainermensing opened #281 "[BUG] Cannot recreate table with key constraint using post-hook because key in backup table is not renamed"
# Is this a new bug in dbt-core?
 * I believe this is a new bug in dbt-core or dbt-sqlserver
 * I have searched the existing issues, and I could not find an existing issue for this bug

# Current Behavior
I materialize as table and would like to add a primary key constraint uing a post-hook.

[code]

 This works fine on the first run. However, on the second run, I receive the following error:

[co

[2022-09-01 17:34] #165 closed

[2022-09-01 17:36] #186 closed

[2022-09-01 17:40] dataders commented on #196
closing as #195 would fix this and there is a current workaround to add the following to one's `dbt_project.yml`

[code]

[2022-09-01 17:40] #196 closed

[2022-09-01 17:40] dataders commented on #210
closing in favor of #179

[2022-09-01 17:40] #210 closed

[2022-09-01 17:43] dataders commented on #219
closing in favor of #269

[2022-09-01 17:43] #219 closed

[2022-09-01 17:51] dataders commented on #269
TODO: add docs on securely connecting

[2022-09-01 18:09] dataders commented on #281
@matsonj also, do you think constraints are something that should just be integrated into the materialization workflow? so then the renaming is taken care of automatically and isn't necessary to do as a post-hook?

[2022-09-01 19:41] matsonj commented on #281
@dataders Good question. I am seeing a recurring theme of users wanting to use the config block to handle indexes ('the dbt way' of doing this) vs. using post-hooks w/sql statements (i.e. ALTER TABLE or DROP INDEX). There was a recent discussion in the dbt slack channel about this as well. It's further complicated because indexes are partially handled as part of this adapter, which defaults to col

[2022-09-02 06:48] rainermensing commented on #281
Hi @dataders, thanks a lot for your reply! Can you explain what you mean by materialization workflow?

[2022-09-02 06:57] rainermensing commented on #281
Hi @matsonj I think that is difficult. I have tried to do something like

[code]
but that throws an error...

[code]

[2022-09-02 18:04] matsonj commented on #281
Hi @rainermensing

Here is a way to get this working for now:

[code]

I just tested on SQL Server 2019 and it worked ok for me.

He is referring to how dbt 'builds' tables - i.e. how it interacts with the config block in this adapter. More or less suggesting that the pre/post hook as shown above is implemented in the adapter.

[2022-09-02 18:26] matsonj commented on #281
hmm actually my code above doesn't work if the table doesn't already exist. Will have to noodle on how to solve this.

[2022-09-06 17:50] dataders commented on #153
updating scope bc #277 isn't working yet

[2022-09-13 08:05] sdebruyn commented on #272
A first beta with v1.2.0 support is out. Version 1.1 was already released with Python 3.10 support and we have this in our automatic tests.

[2022-09-13 08:07] sdebruyn commented on #279
Hi @SvenRelijveld1995 this is a hard one to reproduce with the info you have provided. I will keep an eye out in other issues, but what would really help is more info. Maybe there is more info somewhere else in the debug logs? Or can you provide some sample code to reproduce this issue?

[2022-09-13 08:07] #264 closed

[2022-09-13 08:08] sdebruyn commented on #247
Same for PRs while someone is looking at it anyway

[2022-09-13 09:42] SvenRelijveld1995 commented on #279
Hi @sdebruyn I had first issued this problem on dbt-core: There I pasted the full sample code, as well as the complete debug logs:
https://github.com/dbt-labs/dbt-core/issues/5711

I referenced this in the bottom of my issue, but it might not have been that obvious. Is this what you are looking for?

[2022-09-13 20:34] sdebruyn commented on #269
Fixed on master, will be part of next release. `Encrypt` and `TrustServerCertificate` are now always set. To not break existing behaviour, the default is kept at `False`. Docs will be added when official release goes out.

[2022-09-13 20:34] #269 closed

[2022-09-19 06:14] axelv6 opened #291 "Date_spine macro not able to pass full date range to SQL Server"
I get an error when I want to create a date dimension based on the date spine macro using a range of 1900-01-01 till 2999-01-01 because of an error:
`Error: ('42000', '[42000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Some part of your SQL statement is nested too deeply. Rewrite the query or break it up into smaller queries. (103003) (SQLExecDirectW)'`

Note that apparently the date sp

[2022-09-19 06:28] axelv6 commented on #291
After further testing it seems that Azure Synapse isn't able to handle the large script. Is it possible to optimize the macro to allow to pass larger date ranges to Synapse?

[2022-09-19 14:14] matsonj commented on #291
Seems like this might be something to pick up in tsql-utils, as we need a shim to handle this use case. The CTE patterns ascribed by the dbt folks do not generally play nice with SQL Server.

[2022-09-19 18:16] visch opened #293 "get_columns_in_relation() returns wrong columns for Temp Relations with the same relation identifier (table) as other schemas"
[code]

This sql comes from https://github.com/dbt-msft/dbt-sqlserver/blob/master/dbt/include/sqlserver/macros/adapters/columns.sql#L27

My issue is that I have a schema `AzrueAD` with a table `Users` and another Schema with a table `Users` so I get columns from the wrong table in the relation.

[2022-09-19 20:15] visch commented on #293
Ended up being a threading issue as we have multiple queries with a "Users" identifier being run. Lots of potential fixes, easiest I thought was to just give the Temp table a unique name PR is in

[2022-09-21 09:21] DVAlexHiggs commented on #272
What can I contribute to get this over the line?

[2022-09-21 11:18] sdebruyn commented on #272
The release candidate is out, the docs are nearly finished. Please test version 1.2.0rc1 with your project. Detailed release notes in the CHANGELOG.md or GitHub releases. Should be live at the end of this week 😀

[2022-09-27 12:16] foxale opened #296 "Integrate with dbt-elementary"
I think it would be super cool to see [Elementary](https://docs.elementary-data.com/introduction) together with SQL Server in action connected via [dbt-data-reliability](https://github.com/elementary-data/dbt-data-reliability) package. Any chance of it happening in the near future?

[2022-10-05 12:07] sdebruyn commented on #296
Hi @foxale, I think this is probably an issue for the https://github.com/elementary-data/dbt-data-reliability repo

[2022-10-05 12:07] #296 closed

[2022-10-05 12:08] #272 closed

[2022-10-06 15:59] #281 closed

[2022-10-07 10:54] sdebruyn commented on #263
fixed in v1.2.0

[2022-10-07 10:54] #263 closed

[2022-10-07 10:55] sdebruyn commented on #119
The dbt-sqlserver 1.2.0 release includes an option `retries` in the target configuration which should mitigate these kinds of issues. Let me know if that doesn't work for you so that I can reopen this issue.

[2022-10-07 10:55] #119 closed

[2022-10-07 16:27] needbrew opened #300 "run_results.json rows_affected always 0 or -1"
running latest beta and the rows do not seem to come back in the run_results.json.

[2022-10-10 19:55] dataders opened #301 "upgrade to support dbt-core v1.3.0"
## Background

The latest release cut for 1.3.0, `dbt-core==1.3.0rc2` was published on October 3, 2022 ([PyPI](https://pypi.org/project/dbt-core/1.3.0rc2/) | [Github](https://github.com/dbt-labs/dbt-core/releases/tag/v1.3.0rc2)). We are targeting releasing the official cut of 1.3.0 in time for the week of October 16 (in time for Coalesce conference).

We're trying to establish a following preceden

[2022-10-12 12:23] sdebruyn commented on #301
dbt-sqlserver 1.3.0 released

[2022-10-12 12:23] #301 closed

[2022-10-17 20:15] dataders opened #305 "sam, are you there?"
testing 123

[2022-10-21 17:54] hernanparra commented on #246
The team of dbt-core did the refactoring in version 1.3. Is the incremental "merge" strategy working now?

[2022-11-22 15:17] needbrew opened #312 "as_columnstore seems to be true even if set to false"
have a materialization of incremental and want the columnstore off but creates table as columnstore
{ config(
    materialized = 'incremental',
    unique_key = 'security_id',
    incremental_strategy = 'merge',
    on_schema_change = 'fail',
    as_columnstore='false'
) }}

[2022-11-29 16:01] cverhoef opened #313 "Jinja in comments are compiled"
When Jinja statements are put in regular SQL comments (-- or /*), the statement is still taken into account when compiling the dbt project. Potentially this results in compilation errors in commented code, which is not intuitive to debug. Especially because you may want to comment parts of the model because it results in errors.

Reproduction case (tested it only on dbt-sqlserver v1.0 and v1.1):

[2022-11-29 16:07] cverhoef commented on #313
Realized after creating this is also an issue in dbt-core.

[2022-11-29 16:07] #313 closed

[2022-11-29 16:38] sdebruyn commented on #313
This is the intended behavior since you might want to output things from jinja to SQL comments for debugging and some comments are even interpreted by SQL Server.